openapi: 3.0.3
info:
    title: Laravel
    description: ''
    version: 1.0.0
servers:
    -
        url: 'https://suppliers.depembroke.fr'
paths:
    /api/customers:
        get:
            summary: 'Display a list of Customers'
            description: ''
            parameters:
                -
                    in: header
                    name: Content-Type
                    description: ''
                    example: application/json
                    schema:
                        type: string
                -
                    in: header
                    name: Accept
                    description: ''
                    example: application/json
                    schema:
                        type: string
            responses:
                200:
                    description: ''
                    content:
                        application/json:
                            schema:
                                type: object
                                example:
                                    current_page: 1
                                    data: [{ id: 1, firstName: Harmon, lastName: Collier, email: regan51@bergnaum.com, codePostal: 91848-4045, city: Ankundington, address: "832 Veum Port\nGutkowskiland, NV 68478-6697", phoneNumber: +1-385-677-9919, reseller_id: 10, created_at: '1999-07-07T23:42:50.000000Z', updated_at: '1971-03-20T02:59:36.000000Z', reseller: { id: 10, name: 'Prof. Vance Vandervort DDS', description: 'Autem in iusto omnis nobis. Reiciendis repudiandae nihil mollitia reiciendis quae minus.', latitude: '-47.306174', longitude: '-3.03512', supplier_id: 3, created_at: '1987-08-27T03:24:54.000000Z', updated_at: '1970-09-30T16:03:06.000000Z' }, orders: [{ id: 9, number: '9', date: '1989-07-02', price: '82', customer_id: 1, created_at: '1978-05-14T21:32:00.000000Z', updated_at: '1995-04-15T23:39:10.000000Z' }, { id: 63, number: '2434', date: '1995-05-16', price: '397', customer_id: 1, created_at: '1977-10-16T19:04:36.000000Z', updated_at: '2002-12-17T19:30:30.000000Z' }, { id: 154, number: '45488318', date: '1991-09-08', price: '45', customer_id: 1, created_at: '1993-08-28T04:08:21.000000Z', updated_at: '1992-01-16T19:45:48.000000Z' }, { id: 197, number: '84840499', date: '2009-02-15', price: '36', customer_id: 1, created_at: '1986-11-18T08:38:05.000000Z', updated_at: '2003-08-09T23:50:20.000000Z' }, { id: 213, number: '482', date: '1989-10-01', price: '400', customer_id: 1, created_at: '1995-10-31T02:19:35.000000Z', updated_at: '2008-10-07T01:03:56.000000Z' }, { id: 265, number: '2057', date: '1979-12-30', price: '408', customer_id: 1, created_at: '1978-09-15T18:16:41.000000Z', updated_at: '2008-08-10T02:28:07.000000Z' }, { id: 284, number: '775156', date: '1971-09-15', price: '296', customer_id: 1, created_at: '2003-07-16T01:34:31.000000Z', updated_at: '1981-09-26T20:00:19.000000Z' }, { id: 373, number: '1608293', date: '1983-07-25', price: '277', customer_id: 1, created_at: '2012-01-24T06:07:30.000000Z', updated_at: '1985-02-22T15:20:36.000000Z' }, { id: 445, number: '176479', date: '2015-06-18', price: '300', customer_id: 1, created_at: '2023-07-26T23:53:21.000000Z', updated_at: '1977-10-15T12:49:08.000000Z' }] }, { id: 2, firstName: Jamaal, lastName: Crona, email: steuber.tatyana@mills.org, codePostal: 04732-7386, city: Janatown, address: "5407 Schowalter Walks Suite 992\nLake Keshaunburgh, IL 02241", phoneNumber: +1-971-367-3305, reseller_id: 30, created_at: '1990-04-02T10:23:32.000000Z', updated_at: '2013-11-07T16:02:27.000000Z', reseller: { id: 30, name: 'Theodora Swaniawski', description: 'Quae beatae ea earum qui fuga minima esse voluptas.', latitude: '-40.823557', longitude: '-131.867351', supplier_id: 13, created_at: '1972-01-26T02:03:30.000000Z', updated_at: '1981-11-25T12:58:50.000000Z' }, orders: [{ id: 68, number: '47979784', date: '1998-05-25', price: '57', customer_id: 2, created_at: '2002-11-08T11:15:55.000000Z', updated_at: '2022-07-27T12:00:46.000000Z' }, { id: 107, number: '161106', date: '1999-03-05', price: '473', customer_id: 2, created_at: '1970-04-30T13:36:29.000000Z', updated_at: '2002-12-04T00:52:26.000000Z' }, { id: 148, number: '8156', date: '1983-02-05', price: '309', customer_id: 2, created_at: '1975-03-19T06:30:15.000000Z', updated_at: '1989-10-12T16:20:12.000000Z' }, { id: 153, number: '85013462', date: '1981-04-23', price: '149', customer_id: 2, created_at: '1999-08-27T03:15:59.000000Z', updated_at: '2016-01-10T12:29:19.000000Z' }, { id: 281, number: '9683443', date: '1970-04-07', price: '76', customer_id: 2, created_at: '1988-09-10T09:13:02.000000Z', updated_at: '2013-02-04T23:00:21.000000Z' }, { id: 439, number: '356', date: '1991-07-27', price: '144', customer_id: 2, created_at: '2023-02-12T14:22:48.000000Z', updated_at: '2023-05-02T07:53:43.000000Z' }, { id: 443, number: '66602506', date: '1998-08-09', price: '322', customer_id: 2, created_at: '1999-02-04T13:16:34.000000Z', updated_at: '1999-11-03T07:44:53.000000Z' }, { id: 467, number: '3506', date: '1984-09-10', price: '448', customer_id: 2, created_at: '1983-07-05T14:06:35.000000Z', updated_at: '2001-09-12T03:38:09.000000Z' }, { id: 475, number: '8697', date: '1973-02-20', price: '202', customer_id: 2, created_at: '2010-07-26T04:25:46.000000Z', updated_at: '1978-09-28T06:52:40.000000Z' }] }, { id: 3, firstName: Halle, lastName: Hilpert, email: ybatz@donnelly.com, codePostal: '98400', city: Crystalshire, address: "97258 Lind Prairie Suite 962\nNorth Myron, ME 68807", phoneNumber: 562-502-2441, reseller_id: 13, created_at: '1995-07-28T09:09:11.000000Z', updated_at: '1983-08-04T00:21:58.000000Z', reseller: { id: 13, name: 'Orin Zieme', description: 'Voluptates molestiae illum debitis et. Iusto velit modi soluta expedita.', latitude: '-65.572569', longitude: '149.168242', supplier_id: 5, created_at: '1982-07-01T17:41:48.000000Z', updated_at: '1993-11-21T00:47:43.000000Z' }, orders: [{ id: 8, number: '3', date: '1977-12-02', price: '342', customer_id: 3, created_at: '2021-05-08T04:48:06.000000Z', updated_at: '1996-08-04T07:36:44.000000Z' }, { id: 12, number: '948041', date: '2022-10-14', price: '100', customer_id: 3, created_at: '2005-03-22T22:28:31.000000Z', updated_at: '2006-11-04T15:38:29.000000Z' }, { id: 22, number: '66179', date: '1996-02-07', price: '154', customer_id: 3, created_at: '2010-09-24T11:28:16.000000Z', updated_at: '1979-02-21T10:39:47.000000Z' }, { id: 36, number: '44737', date: '1984-09-04', price: '46', customer_id: 3, created_at: '1988-12-01T10:19:50.000000Z', updated_at: '2010-03-29T12:40:54.000000Z' }, { id: 109, number: '748056284', date: '1984-05-01', price: '60', customer_id: 3, created_at: '1972-01-31T10:52:26.000000Z', updated_at: '1986-02-01T23:03:20.000000Z' }, { id: 117, number: '494398', date: '2006-11-01', price: '255', customer_id: 3, created_at: '1998-08-14T10:24:22.000000Z', updated_at: '1979-09-16T06:09:32.000000Z' }, { id: 334, number: '7203', date: '1979-10-28', price: '242', customer_id: 3, created_at: '1996-08-02T23:38:34.000000Z', updated_at: '1991-02-27T08:11:34.000000Z' }, { id: 366, number: '857429515', date: '1984-05-10', price: '279', customer_id: 3, created_at: '2006-11-04T02:04:48.000000Z', updated_at: '2022-12-28T03:48:48.000000Z' }, { id: 435, number: '6638', date: '1999-10-17', price: '43', customer_id: 3, created_at: '2000-12-25T18:36:09.000000Z', updated_at: '1989-07-24T19:29:36.000000Z' }] }, { id: 4, firstName: Ralph, lastName: Walter, email: mack90@yahoo.com, codePostal: '82620', city: Noraburgh, address: "60631 Harris Meadows\nSouth Rosellamouth, NV 55322", phoneNumber: 938-778-8265, reseller_id: 9, created_at: '2007-01-05T13:36:32.000000Z', updated_at: '2015-03-11T11:09:49.000000Z', reseller: { id: 9, name: 'Eugene Tillman', description: 'Illum aut est et eligendi adipisci quos.', latitude: '78.467556', longitude: '138.725626', supplier_id: 1, created_at: '1984-12-27T07:56:27.000000Z', updated_at: '2016-07-12T06:13:57.000000Z' }, orders: [{ id: 126, number: '766', date: '2016-08-12', price: '318', customer_id: 4, created_at: '1990-01-25T06:21:13.000000Z', updated_at: '2009-07-17T01:08:26.000000Z' }, { id: 155, number: '388', date: '1998-01-01', price: '225', customer_id: 4, created_at: '1986-07-08T21:56:36.000000Z', updated_at: '2018-04-21T15:18:37.000000Z' }, { id: 164, number: '565036', date: '2015-02-06', price: '369', customer_id: 4, created_at: '1995-04-14T13:22:18.000000Z', updated_at: '2014-11-03T17:39:11.000000Z' }, { id: 201, number: '766462', date: '2001-07-27', price: '111', customer_id: 4, created_at: '1981-07-27T16:57:51.000000Z', updated_at: '2011-10-12T14:05:47.000000Z' }, { id: 238, number: '344641845', date: '1970-04-23', price: '37', customer_id: 4, created_at: '2018-06-16T03:48:27.000000Z', updated_at: '1970-06-23T13:30:19.000000Z' }, { id: 239, number: '5153042', date: '1979-03-11', price: '175', customer_id: 4, created_at: '1987-11-19T19:11:45.000000Z', updated_at: '1981-12-18T10:40:43.000000Z' }, { id: 257, number: '3899719', date: '2017-08-14', price: '416', customer_id: 4, created_at: '1980-05-10T14:11:11.000000Z', updated_at: '1994-01-05T21:25:12.000000Z' }, { id: 332, number: '4384768', date: '1991-04-04', price: '404', customer_id: 4, created_at: '1981-11-12T18:30:35.000000Z', updated_at: '1988-05-01T00:34:44.000000Z' }, { id: 471, number: '397094887', date: '2016-06-18', price: '412', customer_id: 4, created_at: '1975-07-03T22:20:36.000000Z', updated_at: '2011-02-26T06:23:29.000000Z' }] }, { id: 5, firstName: Hanna, lastName: Nader, email: wisoky.ellis@treutel.com, codePostal: 52945-2032, city: 'West Gussiefurt', address: "5076 Florida Skyway Suite 767\nNew Cleta, MT 25856", phoneNumber: '(585) 541-5383', reseller_id: 39, created_at: '1976-02-02T03:10:09.000000Z', updated_at: '1987-04-29T06:12:44.000000Z', reseller: { id: 39, name: 'Hilton McCullough', description: 'Voluptas qui facere quaerat dolor.', latitude: '3.330009', longitude: '173.068663', supplier_id: 14, created_at: '1984-02-10T17:07:12.000000Z', updated_at: '2003-08-28T16:54:56.000000Z' }, orders: [{ id: 39, number: '662414733', date: '2008-10-06', price: '69', customer_id: 5, created_at: '1975-03-03T23:13:25.000000Z', updated_at: '1981-10-25T17:57:44.000000Z' }, { id: 88, number: '46399149', date: '1974-02-06', price: '95', customer_id: 5, created_at: '2010-06-19T13:10:25.000000Z', updated_at: '2003-11-29T01:28:38.000000Z' }, { id: 199, number: '93', date: '2010-11-30', price: '275', customer_id: 5, created_at: '2014-08-24T23:56:22.000000Z', updated_at: '1991-02-19T04:50:20.000000Z' }, { id: 214, number: '9668565', date: '2004-11-11', price: '356', customer_id: 5, created_at: '1987-01-19T05:57:20.000000Z', updated_at: '1977-05-15T16:35:07.000000Z' }, { id: 237, number: '40008253', date: '2012-11-28', price: '187', customer_id: 5, created_at: '1976-08-10T10:43:49.000000Z', updated_at: '2012-04-06T03:47:43.000000Z' }, { id: 274, number: '76', date: '1993-04-17', price: '207', customer_id: 5, created_at: '1998-05-11T03:55:06.000000Z', updated_at: '1983-08-29T23:12:03.000000Z' }, { id: 280, number: '6314', date: '1972-11-04', price: '106', customer_id: 5, created_at: '1979-07-24T15:49:10.000000Z', updated_at: '1977-05-03T23:00:05.000000Z' }, { id: 296, number: '9779', date: '2017-05-31', price: '137', customer_id: 5, created_at: '2002-05-13T05:56:06.000000Z', updated_at: '1975-06-09T10:09:49.000000Z' }, { id: 433, number: '25', date: '1970-10-12', price: '231', customer_id: 5, created_at: '1998-07-30T09:32:35.000000Z', updated_at: '1990-07-12T03:36:54.000000Z' }, { id: 465, number: '600603', date: '2009-04-29', price: '347', customer_id: 5, created_at: '2023-08-21T20:43:01.000000Z', updated_at: '2019-09-20T05:35:06.000000Z' }] }, { id: 6, firstName: Jannie, lastName: Zieme, email: emard.thalia@yahoo.com, codePostal: 82316-4450, city: 'North Bryonbury', address: "965 Daniel Motorway Apt. 550\nTillmanview, CT 49270-2326", phoneNumber: +1.478.515.4324, reseller_id: 14, created_at: '2001-02-16T15:40:14.000000Z', updated_at: '1976-02-13T01:08:27.000000Z', reseller: { id: 14, name: 'Billie Homenick', description: 'Quis sit in fuga saepe dolorem esse quas. Tempora architecto autem et sit voluptatibus.', latitude: '43.859419', longitude: '-127.737128', supplier_id: 10, created_at: '1997-03-28T07:47:03.000000Z', updated_at: '1999-03-20T10:56:00.000000Z' }, orders: [{ id: 23, number: '84623', date: '2016-03-29', price: '376', customer_id: 6, created_at: '1999-07-30T00:00:46.000000Z', updated_at: '1990-07-25T19:27:17.000000Z' }, { id: 84, number: '6853375', date: '2012-02-08', price: '296', customer_id: 6, created_at: '2020-07-01T06:58:18.000000Z', updated_at: '2002-10-27T04:57:24.000000Z' }, { id: 246, number: '1518', date: '1986-01-25', price: '77', customer_id: 6, created_at: '1975-04-28T21:48:54.000000Z', updated_at: '1990-05-23T15:02:01.000000Z' }, { id: 408, number: '715467', date: '2004-07-19', price: '411', customer_id: 6, created_at: '2020-07-03T16:13:29.000000Z', updated_at: '1971-10-29T18:03:24.000000Z' }, { id: 418, number: '7769809', date: '2020-05-27', price: '303', customer_id: 6, created_at: '2015-09-15T12:58:54.000000Z', updated_at: '2017-02-17T07:44:23.000000Z' }] }, { id: 7, firstName: Fausto, lastName: Leffler, email: lkeeling@botsford.com, codePostal: 15788-2408, city: 'West Yasmeen', address: "32170 Toy Forest\nAlvinaport, TX 33716", phoneNumber: 413-604-7829, reseller_id: 12, created_at: '1999-07-17T18:20:25.000000Z', updated_at: '1997-04-07T16:54:27.000000Z', reseller: { id: 12, name: 'Alden Treutel I', description: 'Fugiat pariatur culpa nostrum sed aut dolorem.', latitude: '66.624887', longitude: '9.321349', supplier_id: 3, created_at: '2010-04-22T00:20:29.000000Z', updated_at: '1992-11-28T16:54:40.000000Z' }, orders: [{ id: 27, number: '2619', date: '1981-09-14', price: '31', customer_id: 7, created_at: '1976-05-08T19:21:51.000000Z', updated_at: '2012-05-03T15:37:09.000000Z' }, { id: 30, number: '163', date: '1971-08-23', price: '293', customer_id: 7, created_at: '1975-04-15T18:10:59.000000Z', updated_at: '2011-07-07T13:58:45.000000Z' }, { id: 31, number: '60', date: '2016-06-05', price: '338', customer_id: 7, created_at: '1998-07-08T23:20:09.000000Z', updated_at: '2010-01-25T08:16:50.000000Z' }, { id: 51, number: '9123440', date: '2019-09-18', price: '273', customer_id: 7, created_at: '2000-12-27T21:32:03.000000Z', updated_at: '1973-01-25T14:44:58.000000Z' }, { id: 79, number: '4', date: '1977-01-21', price: '334', customer_id: 7, created_at: '2000-05-08T06:33:17.000000Z', updated_at: '1977-02-03T04:02:15.000000Z' }, { id: 129, number: '311093566', date: '2004-07-24', price: '400', customer_id: 7, created_at: '1979-07-02T23:30:36.000000Z', updated_at: '1986-10-06T01:44:28.000000Z' }, { id: 138, number: '80807525', date: '1983-11-25', price: '255', customer_id: 7, created_at: '2006-06-02T00:31:11.000000Z', updated_at: '2001-09-23T02:15:12.000000Z' }, { id: 255, number: '115945', date: '1971-05-15', price: '480', customer_id: 7, created_at: '1992-04-15T01:14:30.000000Z', updated_at: '1993-04-30T18:30:28.000000Z' }, { id: 270, number: '4512', date: '2012-07-03', price: '421', customer_id: 7, created_at: '1972-04-10T13:20:11.000000Z', updated_at: '2018-12-28T12:19:30.000000Z' }, { id: 328, number: '79750177', date: '2000-11-29', price: '442', customer_id: 7, created_at: '1997-01-05T18:30:39.000000Z', updated_at: '1980-05-18T15:30:54.000000Z' }, { id: 369, number: '986222', date: '1977-02-28', price: '313', customer_id: 7, created_at: '1999-09-27T09:26:33.000000Z', updated_at: '1973-07-24T11:45:51.000000Z' }, { id: 387, number: '5748', date: '2011-11-21', price: '274', customer_id: 7, created_at: '1991-06-30T14:51:50.000000Z', updated_at: '1976-10-11T06:01:38.000000Z' }, { id: 423, number: '58169724', date: '2013-11-10', price: '26', customer_id: 7, created_at: '2018-05-12T01:37:36.000000Z', updated_at: '1978-10-31T22:38:42.000000Z' }, { id: 466, number: '4470', date: '1977-09-10', price: '69', customer_id: 7, created_at: '1999-01-06T01:54:46.000000Z', updated_at: '2023-01-08T11:56:11.000000Z' }] }, { id: 8, firstName: Reinhold, lastName: VonRueden, email: schulist.horacio@bartell.com, codePostal: 04961-0965, city: Venaborough, address: "5350 Madeline Flats\nMarquardtbury, WA 04135", phoneNumber: +1-301-394-0468, reseller_id: 42, created_at: '1978-08-03T02:40:56.000000Z', updated_at: '1982-03-17T21:36:45.000000Z', reseller: { id: 42, name: 'Bell McClure', description: 'Eos sint aut alias quisquam praesentium possimus. Velit pariatur accusamus adipisci saepe.', latitude: '40.368418', longitude: '-33.506203', supplier_id: 19, created_at: '2000-12-12T15:16:37.000000Z', updated_at: '2010-12-15T02:37:06.000000Z' }, orders: [{ id: 13, number: '3935', date: '2014-03-29', price: '332', customer_id: 8, created_at: '1984-07-02T11:05:05.000000Z', updated_at: '1973-02-02T19:17:51.000000Z' }, { id: 28, number: '23', date: '2013-03-19', price: '324', customer_id: 8, created_at: '2007-10-03T06:32:20.000000Z', updated_at: '2023-08-09T05:26:00.000000Z' }, { id: 65, number: '174108', date: '1980-02-03', price: '164', customer_id: 8, created_at: '1995-01-12T18:30:16.000000Z', updated_at: '2010-10-28T18:47:24.000000Z' }, { id: 112, number: '785189223', date: '1997-07-25', price: '262', customer_id: 8, created_at: '2009-10-11T08:26:15.000000Z', updated_at: '2015-04-12T11:46:45.000000Z' }, { id: 134, number: '8556689', date: '2005-08-07', price: '73', customer_id: 8, created_at: '1977-06-17T06:45:40.000000Z', updated_at: '1983-08-10T14:21:31.000000Z' }, { id: 211, number: '275817', date: '2013-02-09', price: '225', customer_id: 8, created_at: '2019-08-08T09:41:03.000000Z', updated_at: '1975-11-09T18:13:43.000000Z' }, { id: 263, number: '90299', date: '2000-07-14', price: '284', customer_id: 8, created_at: '1985-01-12T16:14:22.000000Z', updated_at: '1994-01-22T15:10:26.000000Z' }, { id: 319, number: '95591076', date: '2013-03-23', price: '375', customer_id: 8, created_at: '2021-12-30T22:29:32.000000Z', updated_at: '1995-09-06T07:42:28.000000Z' }, { id: 370, number: '122', date: '1992-01-07', price: '465', customer_id: 8, created_at: '1982-08-29T23:41:07.000000Z', updated_at: '2007-12-22T11:21:35.000000Z' }, { id: 372, number: '2047594', date: '1995-11-20', price: '135', customer_id: 8, created_at: '2020-12-05T18:41:11.000000Z', updated_at: '2004-04-24T22:52:58.000000Z' }, { id: 393, number: '711718260', date: '2014-12-31', price: '147', customer_id: 8, created_at: '1988-05-13T17:46:03.000000Z', updated_at: '2002-06-01T14:24:53.000000Z' }, { id: 451, number: '7848', date: '1977-05-26', price: '431', customer_id: 8, created_at: '2023-04-24T23:55:50.000000Z', updated_at: '1979-06-14T15:25:12.000000Z' }, { id: 485, number: '96981', date: '2014-09-14', price: '44', customer_id: 8, created_at: '2008-08-04T22:48:36.000000Z', updated_at: '1984-04-25T05:04:32.000000Z' }, { id: 496, number: '46', date: '2007-08-25', price: '218', customer_id: 8, created_at: '2008-06-17T23:49:43.000000Z', updated_at: '1981-03-23T12:52:07.000000Z' }] }, { id: 9, firstName: Zoie, lastName: Mayer, email: roconnell@yahoo.com, codePostal: 51475-2074, city: Murazikton, address: "28875 Alice Cape Apt. 014\nSigmundbury, KS 48108", phoneNumber: 980.232.0557, reseller_id: 36, created_at: '1973-10-04T06:25:14.000000Z', updated_at: '1984-06-02T13:41:34.000000Z', reseller: { id: 36, name: 'Dale VonRueden', description: 'Consequuntur perferendis tenetur libero laborum. Alias aut et esse quo unde eaque.', latitude: '-34.414346', longitude: '139.432833', supplier_id: 27, created_at: '2014-04-02T17:04:51.000000Z', updated_at: '1993-03-11T04:45:24.000000Z' }, orders: [{ id: 73, number: '906615156', date: '1991-08-28', price: '473', customer_id: 9, created_at: '1976-05-10T16:00:57.000000Z', updated_at: '2001-12-15T13:24:37.000000Z' }, { id: 105, number: '841902435', date: '1971-04-15', price: '313', customer_id: 9, created_at: '1998-11-07T18:49:08.000000Z', updated_at: '1986-03-20T01:14:11.000000Z' }, { id: 189, number: '907', date: '2009-11-04', price: '309', customer_id: 9, created_at: '1990-02-19T06:21:34.000000Z', updated_at: '2001-10-13T21:35:48.000000Z' }, { id: 224, number: '6436', date: '2011-06-13', price: '20', customer_id: 9, created_at: '1976-05-18T14:33:45.000000Z', updated_at: '1986-04-19T12:14:50.000000Z' }] }, { id: 10, firstName: Kaleb, lastName: Torphy, email: uschaefer@frami.org, codePostal: 84733-5493, city: 'Lake Dewittville', address: "652 Joana Dale\nNew Elainaburgh, MS 00634-5551", phoneNumber: +1-941-438-4862, reseller_id: 2, created_at: '2012-12-05T21:01:43.000000Z', updated_at: '1991-07-26T10:49:11.000000Z', reseller: { id: 2, name: 'Jayme Powlowski', description: 'Est inventore consequatur ea alias iste est.', latitude: '84.786045', longitude: '-130.407479', supplier_id: 1, created_at: '2001-02-02T17:47:28.000000Z', updated_at: '1981-09-23T04:48:13.000000Z' }, orders: [{ id: 58, number: '84501', date: '1991-12-31', price: '328', customer_id: 10, created_at: '1977-01-17T02:29:03.000000Z', updated_at: '2017-04-28T18:20:49.000000Z' }, { id: 115, number: '49918', date: '2010-06-04', price: '57', customer_id: 10, created_at: '2010-06-19T05:21:56.000000Z', updated_at: '1980-01-21T12:55:01.000000Z' }, { id: 121, number: '251272', date: '2001-02-02', price: '422', customer_id: 10, created_at: '1987-08-18T15:26:52.000000Z', updated_at: '1998-12-18T22:13:53.000000Z' }, { id: 127, number: '8336623', date: '1997-12-06', price: '301', customer_id: 10, created_at: '1976-08-15T23:52:15.000000Z', updated_at: '2005-11-10T12:54:03.000000Z' }, { id: 147, number: '824', date: '1970-03-11', price: '125', customer_id: 10, created_at: '1979-02-12T12:08:03.000000Z', updated_at: '2013-08-30T23:36:23.000000Z' }, { id: 156, number: '33896630', date: '1999-07-29', price: '38', customer_id: 10, created_at: '2015-05-16T17:52:43.000000Z', updated_at: '1999-12-09T03:57:35.000000Z' }, { id: 234, number: '35', date: '1973-03-13', price: '112', customer_id: 10, created_at: '1989-09-12T12:14:30.000000Z', updated_at: '2009-03-07T14:03:16.000000Z' }, { id: 244, number: '266764782', date: '1989-05-22', price: '235', customer_id: 10, created_at: '1986-01-22T21:33:26.000000Z', updated_at: '1980-04-09T22:51:11.000000Z' }, { id: 267, number: '61', date: '2005-07-01', price: '448', customer_id: 10, created_at: '2016-11-01T20:12:35.000000Z', updated_at: '1973-12-21T23:49:04.000000Z' }, { id: 298, number: '55919223', date: '1980-02-05', price: '47', customer_id: 10, created_at: '2011-09-01T19:23:11.000000Z', updated_at: '2015-01-21T16:45:07.000000Z' }, { id: 406, number: '68896', date: '1980-03-03', price: '443', customer_id: 10, created_at: '2021-11-08T21:06:26.000000Z', updated_at: '1995-06-25T22:25:59.000000Z' }, { id: 411, number: '8702', date: '2020-01-01', price: '184', customer_id: 10, created_at: '1979-11-23T21:47:30.000000Z', updated_at: '1982-03-30T22:26:10.000000Z' }, { id: 477, number: '2378', date: '2015-09-28', price: '214', customer_id: 10, created_at: '2006-12-26T22:19:37.000000Z', updated_at: '1983-12-11T02:33:40.000000Z' }, { id: 478, number: '65362', date: '2017-04-26', price: '301', customer_id: 10, created_at: '1974-06-08T08:16:20.000000Z', updated_at: '1980-12-31T17:16:08.000000Z' }, { id: 489, number: '7802', date: '2009-06-12', price: '251', customer_id: 10, created_at: '2001-10-06T21:18:50.000000Z', updated_at: '1979-09-20T04:18:22.000000Z' }] }, { id: 11, firstName: Lily, lastName: Crona, email: grice@emmerich.com, codePostal: '12484', city: 'South Natalie', address: "920 Jerald Locks\nEthanville, SD 62200", phoneNumber: +1-458-689-9402, reseller_id: 10, created_at: '2014-04-20T16:24:29.000000Z', updated_at: '1983-01-10T17:07:28.000000Z', reseller: { id: 10, name: 'Prof. Vance Vandervort DDS', description: 'Autem in iusto omnis nobis. Reiciendis repudiandae nihil mollitia reiciendis quae minus.', latitude: '-47.306174', longitude: '-3.03512', supplier_id: 3, created_at: '1987-08-27T03:24:54.000000Z', updated_at: '1970-09-30T16:03:06.000000Z' }, orders: [{ id: 33, number: '2', date: '1999-04-27', price: '25', customer_id: 11, created_at: '2011-03-01T17:32:33.000000Z', updated_at: '1994-03-04T08:16:27.000000Z' }, { id: 94, number: '710040', date: '1981-04-25', price: '312', customer_id: 11, created_at: '1987-04-14T01:15:29.000000Z', updated_at: '1979-03-27T22:31:51.000000Z' }, { id: 310, number: '7520', date: '1995-10-14', price: '467', customer_id: 11, created_at: '2003-11-05T12:34:56.000000Z', updated_at: '2002-11-25T18:57:44.000000Z' }, { id: 338, number: '67561', date: '1993-03-09', price: '467', customer_id: 11, created_at: '2018-03-11T19:43:37.000000Z', updated_at: '2007-06-14T14:25:31.000000Z' }, { id: 434, number: '74627', date: '1983-12-20', price: '38', customer_id: 11, created_at: '2023-07-02T23:04:46.000000Z', updated_at: '1986-11-05T18:45:54.000000Z' }] }, { id: 12, firstName: Eldora, lastName: Rath, email: amy46@emmerich.info, codePostal: '46338', city: Lubowitzton, address: "19420 Rogahn Loop\nNorth Jackybury, CT 21768-7924", phoneNumber: 260-302-2637, reseller_id: 40, created_at: '1983-12-31T17:48:41.000000Z', updated_at: '2012-05-11T13:55:37.000000Z', reseller: { id: 40, name: 'Jacky Ferry', description: 'Unde nulla iste cum porro. Animi ipsam qui facilis hic distinctio quibusdam.', latitude: '34.808343', longitude: '17.221922', supplier_id: 7, created_at: '2020-12-27T08:24:57.000000Z', updated_at: '1995-08-11T14:15:55.000000Z' }, orders: [{ id: 64, number: '5813040', date: '2000-08-17', price: '197', customer_id: 12, created_at: '2011-05-15T07:12:07.000000Z', updated_at: '2018-10-26T03:35:44.000000Z' }, { id: 412, number: '55129667', date: '1982-08-31', price: '314', customer_id: 12, created_at: '2001-03-18T22:31:13.000000Z', updated_at: '1992-01-17T02:15:29.000000Z' }, { id: 426, number: '8637147', date: '2014-09-15', price: '483', customer_id: 12, created_at: '1977-03-21T21:58:03.000000Z', updated_at: '1992-08-30T14:28:56.000000Z' }, { id: 487, number: '333830', date: '1973-05-04', price: '407', customer_id: 12, created_at: '2011-11-05T14:30:38.000000Z', updated_at: '1983-10-13T21:42:32.000000Z' }] }, { id: 13, firstName: Stephon, lastName: Bartell, email: jonas.graham@gmail.com, codePostal: '17395', city: 'East Alf', address: "816 Armstrong Ports Suite 147\nJuliaton, OR 99672-4460", phoneNumber: 907-709-3350, reseller_id: 50, created_at: '1984-10-17T03:33:40.000000Z', updated_at: '2011-06-18T05:04:55.000000Z', reseller: { id: 50, name: 'Dr. Odessa Powlowski IV', description: 'Magnam non nemo et minima incidunt reiciendis. Illum saepe magni vel ipsum.', latitude: '-9.902188', longitude: '-7.24016', supplier_id: 8, created_at: '1994-09-17T21:37:15.000000Z', updated_at: '1974-09-13T07:15:37.000000Z' }, orders: [{ id: 53, number: '699174', date: '1992-04-10', price: '369', customer_id: 13, created_at: '2017-08-02T22:27:07.000000Z', updated_at: '1973-03-26T16:48:39.000000Z' }, { id: 93, number: '6250625', date: '1981-11-20', price: '113', customer_id: 13, created_at: '1971-02-12T01:18:05.000000Z', updated_at: '2016-09-23T22:18:20.000000Z' }, { id: 219, number: '43', date: '2017-05-14', price: '355', customer_id: 13, created_at: '1995-04-28T18:08:31.000000Z', updated_at: '1993-07-28T08:36:59.000000Z' }, { id: 321, number: '140897', date: '1980-07-06', price: '337', customer_id: 13, created_at: '1993-03-11T00:25:06.000000Z', updated_at: '1981-12-22T21:15:31.000000Z' }, { id: 378, number: '507794086', date: '2020-09-21', price: '484', customer_id: 13, created_at: '2013-12-29T13:36:38.000000Z', updated_at: '1978-07-06T19:07:53.000000Z' }, { id: 436, number: '25579963', date: '1977-11-25', price: '345', customer_id: 13, created_at: '2010-11-26T21:36:10.000000Z', updated_at: '1973-09-05T08:43:54.000000Z' }] }, { id: 14, firstName: Jake, lastName: Schumm, email: aquigley@stanton.com, codePostal: '65622', city: Satterfieldmouth, address: "970 Consuelo Burgs\nMelissamouth, MD 23339-2751", phoneNumber: '+1 (606) 873-8984', reseller_id: 48, created_at: '1982-07-31T20:31:28.000000Z', updated_at: '2010-11-28T21:30:22.000000Z', reseller: { id: 48, name: 'Cynthia Upton', description: 'Beatae debitis soluta accusantium ut ea dolorem quia porro.', latitude: '-16.777851', longitude: '108.680641', supplier_id: 30, created_at: '1997-12-20T01:48:28.000000Z', updated_at: '1980-11-21T23:19:47.000000Z' }, orders: [{ id: 55, number: '861', date: '2021-09-08', price: '109', customer_id: 14, created_at: '2007-11-19T07:04:39.000000Z', updated_at: '1994-09-12T11:41:50.000000Z' }, { id: 131, number: '643326786', date: '1985-02-11', price: '76', customer_id: 14, created_at: '1998-10-18T13:49:04.000000Z', updated_at: '1972-11-12T16:32:18.000000Z' }, { id: 194, number: '28358170', date: '2021-06-10', price: '93', customer_id: 14, created_at: '2008-02-14T06:21:55.000000Z', updated_at: '2016-12-30T14:04:54.000000Z' }, { id: 216, number: '63447566', date: '1982-01-23', price: '120', customer_id: 14, created_at: '2007-07-17T04:59:42.000000Z', updated_at: '1982-10-11T13:11:27.000000Z' }, { id: 314, number: '590885', date: '2011-07-08', price: '132', customer_id: 14, created_at: '2001-01-04T02:33:38.000000Z', updated_at: '2021-02-17T01:53:39.000000Z' }, { id: 377, number: '5016', date: '1978-11-19', price: '301', customer_id: 14, created_at: '2022-04-22T03:59:23.000000Z', updated_at: '2021-03-10T00:35:19.000000Z' }, { id: 448, number: '110', date: '1990-04-19', price: '456', customer_id: 14, created_at: '1987-06-23T01:01:06.000000Z', updated_at: '1990-08-13T09:06:47.000000Z' }, { id: 495, number: '17749', date: '1993-10-14', price: '479', customer_id: 14, created_at: '1991-05-08T12:12:35.000000Z', updated_at: '1982-11-15T10:36:20.000000Z' }] }, { id: 15, firstName: Carolyne, lastName: Armstrong, email: gaylord.lolita@mraz.com, codePostal: 98815-4873, city: Krajcikton, address: "3938 Amber Light Apt. 474\nLake Alvah, CO 32625", phoneNumber: '(657) 377-2762', reseller_id: 3, created_at: '2009-06-15T14:21:32.000000Z', updated_at: '1987-05-15T15:52:08.000000Z', reseller: { id: 3, name: 'Grayce Prosacco', description: 'Nemo consectetur recusandae inventore est. Ipsum consequatur quod nam repudiandae nostrum nihil facilis.', latitude: '36.780091', longitude: '36.961585', supplier_id: 22, created_at: '1998-04-30T03:29:59.000000Z', updated_at: '2004-12-06T21:53:33.000000Z' }, orders: [{ id: 29, number: '4461', date: '2023-05-03', price: '317', customer_id: 15, created_at: '1978-09-03T13:29:07.000000Z', updated_at: '2009-08-12T11:09:51.000000Z' }, { id: 75, number: '728149181', date: '1980-03-22', price: '247', customer_id: 15, created_at: '2001-04-06T08:33:12.000000Z', updated_at: '2008-11-25T11:40:30.000000Z' }, { id: 128, number: '86', date: '2021-10-06', price: '384', customer_id: 15, created_at: '1998-03-11T01:56:45.000000Z', updated_at: '2013-07-23T13:20:13.000000Z' }, { id: 276, number: '51', date: '1991-12-22', price: '259', customer_id: 15, created_at: '2003-10-08T00:09:11.000000Z', updated_at: '2011-01-12T14:58:52.000000Z' }, { id: 289, number: '62', date: '2020-05-29', price: '63', customer_id: 15, created_at: '2004-07-20T10:07:40.000000Z', updated_at: '2001-05-05T09:07:03.000000Z' }, { id: 453, number: '291630', date: '2013-03-26', price: '376', customer_id: 15, created_at: '1989-11-08T08:29:02.000000Z', updated_at: '1977-09-03T23:17:07.000000Z' }, { id: 488, number: '592476', date: '2006-07-17', price: '457', customer_id: 15, created_at: '2017-09-09T14:03:17.000000Z', updated_at: '1982-04-25T08:19:45.000000Z' }, { id: 494, number: '36', date: '2001-07-24', price: '390', customer_id: 15, created_at: '1973-12-04T20:56:54.000000Z', updated_at: '2009-01-29T07:54:08.000000Z' }] }, { id: 16, firstName: Ramon, lastName: Johnston, email: benjamin.pfannerstill@herzog.com, codePostal: 20947-9133, city: 'New Mertie', address: "486 Cheyanne Place Apt. 246\nNorth Leola, GA 82361", phoneNumber: 1-949-269-4487, reseller_id: 20, created_at: '1992-03-04T12:26:00.000000Z', updated_at: '1977-04-13T13:04:26.000000Z', reseller: { id: 20, name: 'Dr. Fabiola Shields V', description: 'Vero accusamus ex dolorem et quasi cupiditate illum ut.', latitude: '2.836284', longitude: '-131.021316', supplier_id: 3, created_at: '1975-11-11T12:35:06.000000Z', updated_at: '1989-03-21T15:27:23.000000Z' }, orders: [{ id: 38, number: '78571054', date: '1997-10-04', price: '106', customer_id: 16, created_at: '2000-07-23T14:56:48.000000Z', updated_at: '2013-11-28T19:54:07.000000Z' }, { id: 72, number: '808', date: '1983-11-26', price: '127', customer_id: 16, created_at: '1976-04-09T15:01:32.000000Z', updated_at: '2004-12-01T15:14:03.000000Z' }, { id: 90, number: '1974', date: '2002-06-20', price: '98', customer_id: 16, created_at: '1974-07-07T11:05:14.000000Z', updated_at: '1985-08-21T08:37:46.000000Z' }, { id: 306, number: '74584438', date: '1979-11-24', price: '384', customer_id: 16, created_at: '1996-12-18T03:04:51.000000Z', updated_at: '2015-11-21T18:42:58.000000Z' }, { id: 335, number: '162', date: '2005-10-29', price: '407', customer_id: 16, created_at: '1975-05-21T06:39:29.000000Z', updated_at: '1986-11-01T07:46:24.000000Z' }, { id: 342, number: '3974', date: '2018-06-20', price: '422', customer_id: 16, created_at: '1995-10-20T09:15:15.000000Z', updated_at: '2022-02-28T18:00:53.000000Z' }, { id: 363, number: '3140', date: '1983-04-02', price: '356', customer_id: 16, created_at: '2002-11-28T08:43:13.000000Z', updated_at: '1998-10-13T13:23:09.000000Z' }, { id: 368, number: '5283653', date: '2011-04-16', price: '136', customer_id: 16, created_at: '2002-05-22T04:22:19.000000Z', updated_at: '2002-10-23T08:37:39.000000Z' }, { id: 388, number: '106', date: '1972-08-03', price: '160', customer_id: 16, created_at: '2000-02-22T22:54:59.000000Z', updated_at: '1986-04-13T20:27:22.000000Z' }, { id: 399, number: '292650', date: '1972-05-08', price: '267', customer_id: 16, created_at: '2001-12-30T14:26:15.000000Z', updated_at: '1975-10-06T14:40:09.000000Z' }, { id: 403, number: '5637937', date: '1970-11-07', price: '250', customer_id: 16, created_at: '2013-11-26T22:12:55.000000Z', updated_at: '2013-01-01T06:20:13.000000Z' }, { id: 404, number: '25810', date: '2010-02-05', price: '129', customer_id: 16, created_at: '2018-05-21T12:22:09.000000Z', updated_at: '1987-10-08T15:37:48.000000Z' }, { id: 491, number: '13491', date: '1982-01-29', price: '165', customer_id: 16, created_at: '2000-08-30T04:19:55.000000Z', updated_at: '2020-04-25T01:34:50.000000Z' }] }, { id: 17, firstName: Miguel, lastName: Christiansen, email: thaddeus62@witting.com, codePostal: 19769-2713, city: Americochester, address: "35282 McGlynn Mountain\nWest Kristofer, WV 49709-1545", phoneNumber: +1-661-746-7122, reseller_id: 50, created_at: '1976-02-06T19:34:50.000000Z', updated_at: '1981-03-26T17:03:53.000000Z', reseller: { id: 50, name: 'Dr. Odessa Powlowski IV', description: 'Magnam non nemo et minima incidunt reiciendis. Illum saepe magni vel ipsum.', latitude: '-9.902188', longitude: '-7.24016', supplier_id: 8, created_at: '1994-09-17T21:37:15.000000Z', updated_at: '1974-09-13T07:15:37.000000Z' }, orders: [{ id: 11, number: '1325933', date: '1987-08-28', price: '138', customer_id: 17, created_at: '1981-03-09T22:11:57.000000Z', updated_at: '1978-04-27T14:14:01.000000Z' }, { id: 21, number: '8', date: '1997-08-01', price: '351', customer_id: 17, created_at: '1973-04-06T00:47:16.000000Z', updated_at: '1973-12-18T01:42:55.000000Z' }, { id: 86, number: '90446819', date: '2001-07-11', price: '494', customer_id: 17, created_at: '1980-06-08T09:22:38.000000Z', updated_at: '1994-09-03T09:37:52.000000Z' }, { id: 116, number: '716137387', date: '2017-01-01', price: '371', customer_id: 17, created_at: '2022-03-08T01:07:22.000000Z', updated_at: '1992-01-22T12:23:45.000000Z' }, { id: 150, number: '7375404', date: '2006-04-05', price: '39', customer_id: 17, created_at: '1997-01-08T20:08:21.000000Z', updated_at: '2013-09-29T20:58:42.000000Z' }, { id: 184, number: '404471745', date: '1989-08-30', price: '332', customer_id: 17, created_at: '1993-11-09T07:04:28.000000Z', updated_at: '1975-01-08T18:37:56.000000Z' }, { id: 242, number: '9930490', date: '2004-04-19', price: '172', customer_id: 17, created_at: '1977-01-23T15:48:00.000000Z', updated_at: '1975-03-01T08:38:07.000000Z' }, { id: 285, number: '90471741', date: '2020-09-15', price: '388', customer_id: 17, created_at: '2018-02-18T04:18:27.000000Z', updated_at: '2001-01-07T16:54:19.000000Z' }, { id: 397, number: '9556', date: '1983-09-09', price: '89', customer_id: 17, created_at: '2016-08-30T15:39:00.000000Z', updated_at: '1982-10-09T16:04:15.000000Z' }, { id: 407, number: '759', date: '2019-07-16', price: '171', customer_id: 17, created_at: '1977-12-16T07:46:30.000000Z', updated_at: '2019-06-29T04:11:05.000000Z' }, { id: 463, number: '561480186', date: '2012-08-10', price: '88', customer_id: 17, created_at: '2020-07-08T13:33:00.000000Z', updated_at: '2006-03-17T21:11:28.000000Z' }, { id: 482, number: '73', date: '2006-04-06', price: '486', customer_id: 17, created_at: '1996-08-13T08:58:32.000000Z', updated_at: '1978-04-13T08:33:51.000000Z' }] }, { id: 18, firstName: Marvin, lastName: Kuhic, email: piper.paucek@cruickshank.org, codePostal: '06833', city: Rodolfostad, address: "5382 Cormier Ways Suite 632\nWardland, IN 19614-9508", phoneNumber: 385-616-6440, reseller_id: 42, created_at: '1980-05-20T18:45:57.000000Z', updated_at: '2013-10-04T20:41:55.000000Z', reseller: { id: 42, name: 'Bell McClure', description: 'Eos sint aut alias quisquam praesentium possimus. Velit pariatur accusamus adipisci saepe.', latitude: '40.368418', longitude: '-33.506203', supplier_id: 19, created_at: '2000-12-12T15:16:37.000000Z', updated_at: '2010-12-15T02:37:06.000000Z' }, orders: [{ id: 40, number: '9708658', date: '1970-03-30', price: '324', customer_id: 18, created_at: '1971-05-08T05:35:32.000000Z', updated_at: '2013-10-08T20:52:05.000000Z' }, { id: 50, number: '12352', date: '2001-09-01', price: '428', customer_id: 18, created_at: '1971-09-18T01:31:45.000000Z', updated_at: '1988-12-30T13:20:08.000000Z' }, { id: 168, number: '8210', date: '1975-03-16', price: '371', customer_id: 18, created_at: '1993-08-21T03:03:15.000000Z', updated_at: '1994-07-18T19:03:30.000000Z' }, { id: 175, number: '7171', date: '1992-09-25', price: '65', customer_id: 18, created_at: '2004-09-15T00:50:14.000000Z', updated_at: '1994-08-09T20:19:53.000000Z' }, { id: 183, number: '76629', date: '2018-09-01', price: '214', customer_id: 18, created_at: '2005-06-20T23:39:02.000000Z', updated_at: '1981-06-07T08:45:54.000000Z' }, { id: 243, number: '6370', date: '1973-04-19', price: '48', customer_id: 18, created_at: '2020-06-29T21:12:46.000000Z', updated_at: '1971-11-23T00:43:55.000000Z' }, { id: 323, number: '7452573', date: '1984-03-12', price: '290', customer_id: 18, created_at: '1981-12-25T09:40:20.000000Z', updated_at: '1985-01-27T19:06:40.000000Z' }, { id: 395, number: '5524', date: '1993-10-27', price: '188', customer_id: 18, created_at: '1974-07-27T12:07:22.000000Z', updated_at: '1996-08-29T04:59:37.000000Z' }, { id: 409, number: '6761', date: '2005-10-27', price: '377', customer_id: 18, created_at: '2007-12-09T00:54:11.000000Z', updated_at: '2006-08-12T12:21:48.000000Z' }, { id: 440, number: '663', date: '1984-11-25', price: '300', customer_id: 18, created_at: '2016-07-31T10:58:28.000000Z', updated_at: '1990-12-12T16:10:48.000000Z' }, { id: 460, number: '928', date: '1978-06-28', price: '383', customer_id: 18, created_at: '1992-07-18T23:54:46.000000Z', updated_at: '1972-09-20T05:28:51.000000Z' }, { id: 493, number: '7661', date: '1990-01-21', price: '305', customer_id: 18, created_at: '2014-10-29T05:43:28.000000Z', updated_at: '1998-05-13T03:57:44.000000Z' }, { id: 498, number: '28', date: '1976-03-31', price: '184', customer_id: 18, created_at: '1988-05-18T14:50:09.000000Z', updated_at: '2007-02-03T11:18:53.000000Z' }] }, { id: 19, firstName: Fredrick, lastName: Roob, email: rubie93@conroy.biz, codePostal: 57108-9277, city: Boylefurt, address: "565 Aurelia Branch\nSouth Ocie, ID 64298", phoneNumber: 531.713.7765, reseller_id: 33, created_at: '1976-10-01T13:40:35.000000Z', updated_at: '1984-01-02T20:12:50.000000Z', reseller: { id: 33, name: 'Sylvester Zboncak', description: 'Et qui omnis ut.', latitude: '-52.475049', longitude: '-164.404789', supplier_id: 7, created_at: '1995-01-17T18:13:18.000000Z', updated_at: '1975-12-19T06:16:39.000000Z' }, orders: [{ id: 7, number: '89289529', date: '1991-12-20', price: '366', customer_id: 19, created_at: '2014-01-31T07:15:36.000000Z', updated_at: '1983-01-28T06:21:08.000000Z' }, { id: 17, number: '6352', date: '2001-11-16', price: '404', customer_id: 19, created_at: '1994-09-23T09:57:27.000000Z', updated_at: '2022-09-07T06:11:13.000000Z' }, { id: 37, number: '49817', date: '2023-08-03', price: '316', customer_id: 19, created_at: '2017-05-27T21:40:53.000000Z', updated_at: '2013-12-08T16:53:29.000000Z' }, { id: 97, number: '67197614', date: '2004-03-01', price: '180', customer_id: 19, created_at: '2005-10-28T18:47:12.000000Z', updated_at: '2007-01-17T01:06:42.000000Z' }, { id: 139, number: '66900003', date: '1997-04-19', price: '493', customer_id: 19, created_at: '1993-01-17T21:06:06.000000Z', updated_at: '1998-05-02T08:50:04.000000Z' }, { id: 204, number: '3245077', date: '1978-11-05', price: '69', customer_id: 19, created_at: '1974-12-02T05:55:06.000000Z', updated_at: '2022-11-20T02:02:12.000000Z' }, { id: 221, number: '8078957', date: '1994-06-20', price: '87', customer_id: 19, created_at: '2003-03-10T18:57:35.000000Z', updated_at: '1993-01-18T23:23:19.000000Z' }, { id: 391, number: '4467102', date: '1974-05-14', price: '462', customer_id: 19, created_at: '1988-08-20T08:52:13.000000Z', updated_at: '2009-01-08T11:36:50.000000Z' }, { id: 410, number: '42', date: '2016-01-18', price: '170', customer_id: 19, created_at: '2021-04-28T21:24:16.000000Z', updated_at: '2008-02-06T14:31:56.000000Z' }, { id: 454, number: '902815392', date: '2013-06-17', price: '411', customer_id: 19, created_at: '1994-03-12T22:37:41.000000Z', updated_at: '2015-03-18T09:44:15.000000Z' }] }, { id: 20, firstName: Michael, lastName: Adams, email: cquitzon@hotmail.com, codePostal: '64904', city: Willmschester, address: "5300 Schulist Ports Apt. 602\nNorth Krystalfort, KY 18064", phoneNumber: '+1 (220) 419-5432', reseller_id: 35, created_at: '2000-10-21T13:52:28.000000Z', updated_at: '1994-05-28T13:09:12.000000Z', reseller: { id: 35, name: 'Dr. Kianna Spencer II', description: 'Sit reprehenderit aspernatur omnis atque ad.', latitude: '-9.261637', longitude: '146.757797', supplier_id: 1, created_at: '1976-07-31T06:16:51.000000Z', updated_at: '2011-08-27T07:35:20.000000Z' }, orders: [{ id: 14, number: '986179794', date: '2011-02-03', price: '143', customer_id: 20, created_at: '1998-10-10T04:41:22.000000Z', updated_at: '2023-05-26T11:00:27.000000Z' }, { id: 179, number: '80', date: '2004-03-20', price: '213', customer_id: 20, created_at: '1988-12-08T16:36:45.000000Z', updated_at: '2001-05-25T09:01:32.000000Z' }, { id: 358, number: '2836773', date: '1987-04-04', price: '183', customer_id: 20, created_at: '1973-01-13T07:07:20.000000Z', updated_at: '2014-05-09T21:38:25.000000Z' }, { id: 492, number: '80749649', date: '2005-03-13', price: '346', customer_id: 20, created_at: '2008-10-16T13:52:24.000000Z', updated_at: '1973-07-03T11:16:22.000000Z' }] }, { id: 21, firstName: Juanita, lastName: Prosacco, email: farrell.genoveva@hotmail.com, codePostal: '33887', city: 'East Abigail', address: "711 McDermott Place Suite 791\nPort Victorborough, TN 10180", phoneNumber: '(786) 440-5129', reseller_id: 27, created_at: '2011-01-24T14:45:33.000000Z', updated_at: '2013-06-16T11:58:54.000000Z', reseller: { id: 27, name: 'Mr. Kenton Carter MD', description: 'Unde laudantium incidunt non inventore.', latitude: '-87.90733', longitude: '88.085135', supplier_id: 9, created_at: '2020-09-26T05:16:47.000000Z', updated_at: '2018-04-15T18:51:45.000000Z' }, orders: [{ id: 78, number: '478', date: '2005-04-17', price: '103', customer_id: 21, created_at: '2020-05-24T15:17:11.000000Z', updated_at: '2002-12-13T19:48:51.000000Z' }, { id: 103, number: '317116', date: '1983-08-26', price: '282', customer_id: 21, created_at: '1971-02-28T11:55:57.000000Z', updated_at: '1977-08-29T13:34:12.000000Z' }, { id: 110, number: '51351', date: '1983-06-12', price: '394', customer_id: 21, created_at: '1997-06-01T20:43:01.000000Z', updated_at: '1982-02-19T12:09:18.000000Z' }, { id: 123, number: '99', date: '1974-12-11', price: '94', customer_id: 21, created_at: '2003-11-24T03:21:25.000000Z', updated_at: '1977-11-26T12:50:24.000000Z' }, { id: 161, number: '4570492', date: '2006-01-26', price: '492', customer_id: 21, created_at: '1971-04-08T22:57:26.000000Z', updated_at: '1971-07-31T13:08:15.000000Z' }, { id: 187, number: '7841514', date: '1990-08-30', price: '244', customer_id: 21, created_at: '2022-04-10T23:01:25.000000Z', updated_at: '2019-06-16T07:02:57.000000Z' }, { id: 228, number: '395932', date: '1971-02-17', price: '381', customer_id: 21, created_at: '2019-05-07T08:33:10.000000Z', updated_at: '1981-11-28T04:40:55.000000Z' }, { id: 278, number: '40165', date: '2001-10-07', price: '290', customer_id: 21, created_at: '2020-04-29T15:16:02.000000Z', updated_at: '1997-11-13T07:19:51.000000Z' }, { id: 299, number: '80547', date: '1974-04-18', price: '57', customer_id: 21, created_at: '1986-07-16T20:24:59.000000Z', updated_at: '1997-06-25T11:21:04.000000Z' }, { id: 427, number: '9277', date: '2007-08-04', price: '392', customer_id: 21, created_at: '2015-03-24T03:58:58.000000Z', updated_at: '2013-01-22T23:56:47.000000Z' }] }, { id: 22, firstName: Murray, lastName: Sporer, email: domenico.lind@robel.net, codePostal: 86717-4624, city: Schaeferland, address: "93592 Hayes Rapid Suite 199\nWest Thelmamouth, MA 95720", phoneNumber: +1-762-955-5887, reseller_id: 41, created_at: '2022-01-25T06:50:08.000000Z', updated_at: '1973-03-10T06:25:36.000000Z', reseller: { id: 41, name: 'Prof. Laura Ward', description: 'Sit et nisi repudiandae aliquid ut.', latitude: '-16.038977', longitude: '85.153266', supplier_id: 26, created_at: '2015-03-08T19:02:37.000000Z', updated_at: '1996-04-20T13:30:16.000000Z' }, orders: [{ id: 15, number: '543', date: '2007-01-21', price: '242', customer_id: 22, created_at: '1983-10-12T01:02:38.000000Z', updated_at: '1983-06-29T17:39:34.000000Z' }, { id: 35, number: '6', date: '2017-10-17', price: '394', customer_id: 22, created_at: '1989-05-27T13:31:48.000000Z', updated_at: '2005-02-02T22:44:00.000000Z' }, { id: 69, number: '48414', date: '2015-02-10', price: '211', customer_id: 22, created_at: '2009-06-01T11:42:00.000000Z', updated_at: '1984-12-11T11:33:15.000000Z' }, { id: 71, number: '50370', date: '1988-01-24', price: '264', customer_id: 22, created_at: '2014-08-07T08:37:45.000000Z', updated_at: '2008-04-18T19:10:17.000000Z' }, { id: 192, number: '79', date: '1992-02-15', price: '297', customer_id: 22, created_at: '2017-07-22T13:19:45.000000Z', updated_at: '2002-06-15T10:21:35.000000Z' }, { id: 236, number: '38', date: '1977-10-14', price: '201', customer_id: 22, created_at: '2014-10-18T16:49:05.000000Z', updated_at: '1983-06-13T14:06:24.000000Z' }, { id: 360, number: '4607059', date: '1991-04-03', price: '51', customer_id: 22, created_at: '1994-01-15T20:48:49.000000Z', updated_at: '2000-11-17T01:00:51.000000Z' }, { id: 417, number: '319904868', date: '2009-04-02', price: '182', customer_id: 22, created_at: '2020-04-28T07:57:06.000000Z', updated_at: '1978-11-12T11:26:38.000000Z' }, { id: 469, number: '21839401', date: '1986-06-10', price: '429', customer_id: 22, created_at: '2019-12-16T14:00:38.000000Z', updated_at: '1988-05-01T12:00:55.000000Z' }] }, { id: 23, firstName: Angus, lastName: Schaefer, email: gleason.lavinia@hermann.info, codePostal: 50449-5084, city: Paucekfort, address: "85795 Schultz Shoals\nBradentown, VT 70278", phoneNumber: 470.758.1576, reseller_id: 19, created_at: '2005-02-25T21:38:49.000000Z', updated_at: '1985-09-06T13:39:50.000000Z', reseller: { id: 19, name: 'Stanley Zulauf', description: 'Fuga ea iusto dolore qui quibusdam porro animi. Provident maiores laborum eum quo facilis quia.', latitude: '35.587141', longitude: '-23.695639', supplier_id: 13, created_at: '1979-11-28T22:18:24.000000Z', updated_at: '1978-04-05T22:14:01.000000Z' }, orders: [{ id: 1, number: '56008079', date: '1985-09-24', price: '142', customer_id: 23, created_at: '2003-03-14T05:29:41.000000Z', updated_at: '2004-05-06T12:05:14.000000Z' }, { id: 2, number: '789413529', date: '2017-10-11', price: '253', customer_id: 23, created_at: '1981-11-23T23:14:07.000000Z', updated_at: '2021-08-13T12:34:08.000000Z' }, { id: 20, number: '914467', date: '2006-09-15', price: '460', customer_id: 23, created_at: '2013-08-11T00:57:24.000000Z', updated_at: '2001-05-12T05:59:11.000000Z' }, { id: 77, number: '62449655', date: '2013-02-20', price: '281', customer_id: 23, created_at: '1975-04-08T03:37:11.000000Z', updated_at: '1986-01-27T01:29:18.000000Z' }, { id: 136, number: '5132', date: '1988-07-31', price: '59', customer_id: 23, created_at: '2013-03-24T18:57:16.000000Z', updated_at: '2005-08-22T20:55:02.000000Z' }, { id: 173, number: '68', date: '2022-05-16', price: '222', customer_id: 23, created_at: '2020-08-03T23:33:33.000000Z', updated_at: '1993-06-27T22:33:21.000000Z' }, { id: 196, number: '2432', date: '1981-08-12', price: '405', customer_id: 23, created_at: '2017-04-15T02:13:12.000000Z', updated_at: '1987-07-18T23:18:04.000000Z' }, { id: 250, number: '0', date: '1976-09-03', price: '76', customer_id: 23, created_at: '2004-07-08T07:52:34.000000Z', updated_at: '1979-03-22T19:05:42.000000Z' }, { id: 261, number: '51453', date: '1992-05-22', price: '92', customer_id: 23, created_at: '2020-03-29T09:18:30.000000Z', updated_at: '1991-06-04T00:01:06.000000Z' }, { id: 300, number: '950073', date: '1992-04-20', price: '456', customer_id: 23, created_at: '1994-03-28T11:16:15.000000Z', updated_at: '1986-06-15T09:14:17.000000Z' }, { id: 379, number: '601218', date: '1971-07-20', price: '453', customer_id: 23, created_at: '2015-02-19T13:20:33.000000Z', updated_at: '1970-07-20T03:12:41.000000Z' }, { id: 428, number: '646160', date: '2000-06-16', price: '32', customer_id: 23, created_at: '1997-04-17T10:00:43.000000Z', updated_at: '1998-04-19T11:55:30.000000Z' }, { id: 459, number: '745282494', date: '1997-09-03', price: '468', customer_id: 23, created_at: '1974-09-26T16:09:14.000000Z', updated_at: '1986-11-08T03:45:43.000000Z' }] }, { id: 24, firstName: Braulio, lastName: Boyer, email: yquitzon@bradtke.com, codePostal: '30834', city: 'East Janelleberg', address: "5729 Yasmeen Course Suite 991\nEast Jakaylachester, CT 30979-6410", phoneNumber: 1-803-314-3268, reseller_id: 42, created_at: '2011-02-08T07:38:11.000000Z', updated_at: '1979-06-04T01:59:42.000000Z', reseller: { id: 42, name: 'Bell McClure', description: 'Eos sint aut alias quisquam praesentium possimus. Velit pariatur accusamus adipisci saepe.', latitude: '40.368418', longitude: '-33.506203', supplier_id: 19, created_at: '2000-12-12T15:16:37.000000Z', updated_at: '2010-12-15T02:37:06.000000Z' }, orders: [{ id: 32, number: '16', date: '2002-01-07', price: '55', customer_id: 24, created_at: '1992-06-01T23:08:12.000000Z', updated_at: '1984-03-05T23:50:35.000000Z' }, { id: 87, number: '45125', date: '2018-07-20', price: '126', customer_id: 24, created_at: '1970-08-23T17:49:04.000000Z', updated_at: '2012-03-29T07:38:16.000000Z' }, { id: 98, number: '5994184', date: '1993-09-04', price: '240', customer_id: 24, created_at: '1989-06-02T06:44:58.000000Z', updated_at: '1998-10-20T04:41:03.000000Z' }, { id: 311, number: '871693', date: '2021-05-21', price: '306', customer_id: 24, created_at: '1987-03-20T07:37:16.000000Z', updated_at: '1975-09-02T02:42:43.000000Z' }, { id: 444, number: '7712', date: '1991-03-15', price: '214', customer_id: 24, created_at: '1993-02-26T01:08:47.000000Z', updated_at: '1981-07-05T18:59:04.000000Z' }, { id: 462, number: '4082223', date: '2020-10-06', price: '370', customer_id: 24, created_at: '1976-04-24T01:43:14.000000Z', updated_at: '1993-07-27T13:56:41.000000Z' }] }, { id: 25, firstName: Watson, lastName: Hermiston, email: elwyn85@gmail.com, codePostal: '80338', city: Alethastad, address: "851 Dach Parkways Suite 706\nLake Gladyce, IN 21230-2397", phoneNumber: 802.923.2112, reseller_id: 21, created_at: '2020-03-22T13:35:50.000000Z', updated_at: '2020-10-12T09:40:27.000000Z', reseller: { id: 21, name: 'Gudrun Lockman Jr.', description: 'Minus ab fugit doloribus quam. Veritatis voluptatem nulla dolores omnis consequatur dicta qui.', latitude: '-13.32368', longitude: '-54.697964', supplier_id: 19, created_at: '1998-08-05T21:17:37.000000Z', updated_at: '1979-02-17T06:44:23.000000Z' }, orders: [{ id: 10, number: '999', date: '1975-09-28', price: '72', customer_id: 25, created_at: '1975-04-18T09:24:23.000000Z', updated_at: '1982-12-23T20:23:35.000000Z' }, { id: 54, number: '36750619', date: '1989-07-19', price: '68', customer_id: 25, created_at: '1971-04-19T14:22:01.000000Z', updated_at: '1986-12-17T07:54:33.000000Z' }, { id: 99, number: '387430964', date: '2016-05-23', price: '198', customer_id: 25, created_at: '1974-12-03T23:23:59.000000Z', updated_at: '1989-12-31T03:15:22.000000Z' }, { id: 108, number: '30312', date: '1976-01-14', price: '497', customer_id: 25, created_at: '1980-12-06T19:09:49.000000Z', updated_at: '1989-05-28T08:53:42.000000Z' }, { id: 130, number: '968', date: '1997-07-26', price: '244', customer_id: 25, created_at: '1989-04-14T17:43:18.000000Z', updated_at: '2022-03-07T20:11:39.000000Z' }, { id: 191, number: '353', date: '1973-02-06', price: '35', customer_id: 25, created_at: '2003-02-18T01:53:05.000000Z', updated_at: '2009-10-03T21:42:41.000000Z' }, { id: 230, number: '3655370', date: '2009-12-27', price: '78', customer_id: 25, created_at: '1970-06-23T14:07:26.000000Z', updated_at: '2008-04-10T04:50:51.000000Z' }, { id: 359, number: '61406332', date: '1981-05-10', price: '150', customer_id: 25, created_at: '2018-10-26T11:02:18.000000Z', updated_at: '1973-12-30T00:21:23.000000Z' }, { id: 390, number: '6180209', date: '2016-05-22', price: '388', customer_id: 25, created_at: '1974-10-03T15:34:06.000000Z', updated_at: '1988-03-22T15:18:31.000000Z' }, { id: 449, number: '814', date: '1988-11-09', price: '385', customer_id: 25, created_at: '2022-04-18T04:20:26.000000Z', updated_at: '1990-03-06T12:52:25.000000Z' }] }]
                                    first_page_url: 'http://localhost/api/customers?page=1'
                                    from: 1
                                    last_page: 2
                                    last_page_url: 'http://localhost/api/customers?page=2'
                                    links: [{ url: null, label: '&laquo; Previous', active: false }, { url: 'http://localhost/api/customers?page=1', label: '1', active: true }, { url: 'http://localhost/api/customers?page=2', label: '2', active: false }, { url: 'http://localhost/api/customers?page=2', label: 'Next &raquo;', active: false }]
                                    next_page_url: 'http://localhost/api/customers?page=2'
                                    path: 'http://localhost/api/customers'
                                    per_page: 25
                                    prev_page_url: null
                                    to: 25
                                    total: 50
                                properties:
                                    current_page: { type: integer, example: 1 }
                                    data: { type: array, example: [{ id: 1, firstName: Harmon, lastName: Collier, email: regan51@bergnaum.com, codePostal: 91848-4045, city: Ankundington, address: "832 Veum Port\nGutkowskiland, NV 68478-6697", phoneNumber: +1-385-677-9919, reseller_id: 10, created_at: '1999-07-07T23:42:50.000000Z', updated_at: '1971-03-20T02:59:36.000000Z', reseller: { id: 10, name: 'Prof. Vance Vandervort DDS', description: 'Autem in iusto omnis nobis. Reiciendis repudiandae nihil mollitia reiciendis quae minus.', latitude: '-47.306174', longitude: '-3.03512', supplier_id: 3, created_at: '1987-08-27T03:24:54.000000Z', updated_at: '1970-09-30T16:03:06.000000Z' }, orders: [{ id: 9, number: '9', date: '1989-07-02', price: '82', customer_id: 1, created_at: '1978-05-14T21:32:00.000000Z', updated_at: '1995-04-15T23:39:10.000000Z' }, { id: 63, number: '2434', date: '1995-05-16', price: '397', customer_id: 1, created_at: '1977-10-16T19:04:36.000000Z', updated_at: '2002-12-17T19:30:30.000000Z' }, { id: 154, number: '45488318', date: '1991-09-08', price: '45', customer_id: 1, created_at: '1993-08-28T04:08:21.000000Z', updated_at: '1992-01-16T19:45:48.000000Z' }, { id: 197, number: '84840499', date: '2009-02-15', price: '36', customer_id: 1, created_at: '1986-11-18T08:38:05.000000Z', updated_at: '2003-08-09T23:50:20.000000Z' }, { id: 213, number: '482', date: '1989-10-01', price: '400', customer_id: 1, created_at: '1995-10-31T02:19:35.000000Z', updated_at: '2008-10-07T01:03:56.000000Z' }, { id: 265, number: '2057', date: '1979-12-30', price: '408', customer_id: 1, created_at: '1978-09-15T18:16:41.000000Z', updated_at: '2008-08-10T02:28:07.000000Z' }, { id: 284, number: '775156', date: '1971-09-15', price: '296', customer_id: 1, created_at: '2003-07-16T01:34:31.000000Z', updated_at: '1981-09-26T20:00:19.000000Z' }, { id: 373, number: '1608293', date: '1983-07-25', price: '277', customer_id: 1, created_at: '2012-01-24T06:07:30.000000Z', updated_at: '1985-02-22T15:20:36.000000Z' }, { id: 445, number: '176479', date: '2015-06-18', price: '300', customer_id: 1, created_at: '2023-07-26T23:53:21.000000Z', updated_at: '1977-10-15T12:49:08.000000Z' }] }, { id: 2, firstName: Jamaal, lastName: Crona, email: steuber.tatyana@mills.org, codePostal: 04732-7386, city: Janatown, address: "5407 Schowalter Walks Suite 992\nLake Keshaunburgh, IL 02241", phoneNumber: +1-971-367-3305, reseller_id: 30, created_at: '1990-04-02T10:23:32.000000Z', updated_at: '2013-11-07T16:02:27.000000Z', reseller: { id: 30, name: 'Theodora Swaniawski', description: 'Quae beatae ea earum qui fuga minima esse voluptas.', latitude: '-40.823557', longitude: '-131.867351', supplier_id: 13, created_at: '1972-01-26T02:03:30.000000Z', updated_at: '1981-11-25T12:58:50.000000Z' }, orders: [{ id: 68, number: '47979784', date: '1998-05-25', price: '57', customer_id: 2, created_at: '2002-11-08T11:15:55.000000Z', updated_at: '2022-07-27T12:00:46.000000Z' }, { id: 107, number: '161106', date: '1999-03-05', price: '473', customer_id: 2, created_at: '1970-04-30T13:36:29.000000Z', updated_at: '2002-12-04T00:52:26.000000Z' }, { id: 148, number: '8156', date: '1983-02-05', price: '309', customer_id: 2, created_at: '1975-03-19T06:30:15.000000Z', updated_at: '1989-10-12T16:20:12.000000Z' }, { id: 153, number: '85013462', date: '1981-04-23', price: '149', customer_id: 2, created_at: '1999-08-27T03:15:59.000000Z', updated_at: '2016-01-10T12:29:19.000000Z' }, { id: 281, number: '9683443', date: '1970-04-07', price: '76', customer_id: 2, created_at: '1988-09-10T09:13:02.000000Z', updated_at: '2013-02-04T23:00:21.000000Z' }, { id: 439, number: '356', date: '1991-07-27', price: '144', customer_id: 2, created_at: '2023-02-12T14:22:48.000000Z', updated_at: '2023-05-02T07:53:43.000000Z' }, { id: 443, number: '66602506', date: '1998-08-09', price: '322', customer_id: 2, created_at: '1999-02-04T13:16:34.000000Z', updated_at: '1999-11-03T07:44:53.000000Z' }, { id: 467, number: '3506', date: '1984-09-10', price: '448', customer_id: 2, created_at: '1983-07-05T14:06:35.000000Z', updated_at: '2001-09-12T03:38:09.000000Z' }, { id: 475, number: '8697', date: '1973-02-20', price: '202', customer_id: 2, created_at: '2010-07-26T04:25:46.000000Z', updated_at: '1978-09-28T06:52:40.000000Z' }] }, { id: 3, firstName: Halle, lastName: Hilpert, email: ybatz@donnelly.com, codePostal: '98400', city: Crystalshire, address: "97258 Lind Prairie Suite 962\nNorth Myron, ME 68807", phoneNumber: 562-502-2441, reseller_id: 13, created_at: '1995-07-28T09:09:11.000000Z', updated_at: '1983-08-04T00:21:58.000000Z', reseller: { id: 13, name: 'Orin Zieme', description: 'Voluptates molestiae illum debitis et. Iusto velit modi soluta expedita.', latitude: '-65.572569', longitude: '149.168242', supplier_id: 5, created_at: '1982-07-01T17:41:48.000000Z', updated_at: '1993-11-21T00:47:43.000000Z' }, orders: [{ id: 8, number: '3', date: '1977-12-02', price: '342', customer_id: 3, created_at: '2021-05-08T04:48:06.000000Z', updated_at: '1996-08-04T07:36:44.000000Z' }, { id: 12, number: '948041', date: '2022-10-14', price: '100', customer_id: 3, created_at: '2005-03-22T22:28:31.000000Z', updated_at: '2006-11-04T15:38:29.000000Z' }, { id: 22, number: '66179', date: '1996-02-07', price: '154', customer_id: 3, created_at: '2010-09-24T11:28:16.000000Z', updated_at: '1979-02-21T10:39:47.000000Z' }, { id: 36, number: '44737', date: '1984-09-04', price: '46', customer_id: 3, created_at: '1988-12-01T10:19:50.000000Z', updated_at: '2010-03-29T12:40:54.000000Z' }, { id: 109, number: '748056284', date: '1984-05-01', price: '60', customer_id: 3, created_at: '1972-01-31T10:52:26.000000Z', updated_at: '1986-02-01T23:03:20.000000Z' }, { id: 117, number: '494398', date: '2006-11-01', price: '255', customer_id: 3, created_at: '1998-08-14T10:24:22.000000Z', updated_at: '1979-09-16T06:09:32.000000Z' }, { id: 334, number: '7203', date: '1979-10-28', price: '242', customer_id: 3, created_at: '1996-08-02T23:38:34.000000Z', updated_at: '1991-02-27T08:11:34.000000Z' }, { id: 366, number: '857429515', date: '1984-05-10', price: '279', customer_id: 3, created_at: '2006-11-04T02:04:48.000000Z', updated_at: '2022-12-28T03:48:48.000000Z' }, { id: 435, number: '6638', date: '1999-10-17', price: '43', customer_id: 3, created_at: '2000-12-25T18:36:09.000000Z', updated_at: '1989-07-24T19:29:36.000000Z' }] }, { id: 4, firstName: Ralph, lastName: Walter, email: mack90@yahoo.com, codePostal: '82620', city: Noraburgh, address: "60631 Harris Meadows\nSouth Rosellamouth, NV 55322", phoneNumber: 938-778-8265, reseller_id: 9, created_at: '2007-01-05T13:36:32.000000Z', updated_at: '2015-03-11T11:09:49.000000Z', reseller: { id: 9, name: 'Eugene Tillman', description: 'Illum aut est et eligendi adipisci quos.', latitude: '78.467556', longitude: '138.725626', supplier_id: 1, created_at: '1984-12-27T07:56:27.000000Z', updated_at: '2016-07-12T06:13:57.000000Z' }, orders: [{ id: 126, number: '766', date: '2016-08-12', price: '318', customer_id: 4, created_at: '1990-01-25T06:21:13.000000Z', updated_at: '2009-07-17T01:08:26.000000Z' }, { id: 155, number: '388', date: '1998-01-01', price: '225', customer_id: 4, created_at: '1986-07-08T21:56:36.000000Z', updated_at: '2018-04-21T15:18:37.000000Z' }, { id: 164, number: '565036', date: '2015-02-06', price: '369', customer_id: 4, created_at: '1995-04-14T13:22:18.000000Z', updated_at: '2014-11-03T17:39:11.000000Z' }, { id: 201, number: '766462', date: '2001-07-27', price: '111', customer_id: 4, created_at: '1981-07-27T16:57:51.000000Z', updated_at: '2011-10-12T14:05:47.000000Z' }, { id: 238, number: '344641845', date: '1970-04-23', price: '37', customer_id: 4, created_at: '2018-06-16T03:48:27.000000Z', updated_at: '1970-06-23T13:30:19.000000Z' }, { id: 239, number: '5153042', date: '1979-03-11', price: '175', customer_id: 4, created_at: '1987-11-19T19:11:45.000000Z', updated_at: '1981-12-18T10:40:43.000000Z' }, { id: 257, number: '3899719', date: '2017-08-14', price: '416', customer_id: 4, created_at: '1980-05-10T14:11:11.000000Z', updated_at: '1994-01-05T21:25:12.000000Z' }, { id: 332, number: '4384768', date: '1991-04-04', price: '404', customer_id: 4, created_at: '1981-11-12T18:30:35.000000Z', updated_at: '1988-05-01T00:34:44.000000Z' }, { id: 471, number: '397094887', date: '2016-06-18', price: '412', customer_id: 4, created_at: '1975-07-03T22:20:36.000000Z', updated_at: '2011-02-26T06:23:29.000000Z' }] }, { id: 5, firstName: Hanna, lastName: Nader, email: wisoky.ellis@treutel.com, codePostal: 52945-2032, city: 'West Gussiefurt', address: "5076 Florida Skyway Suite 767\nNew Cleta, MT 25856", phoneNumber: '(585) 541-5383', reseller_id: 39, created_at: '1976-02-02T03:10:09.000000Z', updated_at: '1987-04-29T06:12:44.000000Z', reseller: { id: 39, name: 'Hilton McCullough', description: 'Voluptas qui facere quaerat dolor.', latitude: '3.330009', longitude: '173.068663', supplier_id: 14, created_at: '1984-02-10T17:07:12.000000Z', updated_at: '2003-08-28T16:54:56.000000Z' }, orders: [{ id: 39, number: '662414733', date: '2008-10-06', price: '69', customer_id: 5, created_at: '1975-03-03T23:13:25.000000Z', updated_at: '1981-10-25T17:57:44.000000Z' }, { id: 88, number: '46399149', date: '1974-02-06', price: '95', customer_id: 5, created_at: '2010-06-19T13:10:25.000000Z', updated_at: '2003-11-29T01:28:38.000000Z' }, { id: 199, number: '93', date: '2010-11-30', price: '275', customer_id: 5, created_at: '2014-08-24T23:56:22.000000Z', updated_at: '1991-02-19T04:50:20.000000Z' }, { id: 214, number: '9668565', date: '2004-11-11', price: '356', customer_id: 5, created_at: '1987-01-19T05:57:20.000000Z', updated_at: '1977-05-15T16:35:07.000000Z' }, { id: 237, number: '40008253', date: '2012-11-28', price: '187', customer_id: 5, created_at: '1976-08-10T10:43:49.000000Z', updated_at: '2012-04-06T03:47:43.000000Z' }, { id: 274, number: '76', date: '1993-04-17', price: '207', customer_id: 5, created_at: '1998-05-11T03:55:06.000000Z', updated_at: '1983-08-29T23:12:03.000000Z' }, { id: 280, number: '6314', date: '1972-11-04', price: '106', customer_id: 5, created_at: '1979-07-24T15:49:10.000000Z', updated_at: '1977-05-03T23:00:05.000000Z' }, { id: 296, number: '9779', date: '2017-05-31', price: '137', customer_id: 5, created_at: '2002-05-13T05:56:06.000000Z', updated_at: '1975-06-09T10:09:49.000000Z' }, { id: 433, number: '25', date: '1970-10-12', price: '231', customer_id: 5, created_at: '1998-07-30T09:32:35.000000Z', updated_at: '1990-07-12T03:36:54.000000Z' }, { id: 465, number: '600603', date: '2009-04-29', price: '347', customer_id: 5, created_at: '2023-08-21T20:43:01.000000Z', updated_at: '2019-09-20T05:35:06.000000Z' }] }, { id: 6, firstName: Jannie, lastName: Zieme, email: emard.thalia@yahoo.com, codePostal: 82316-4450, city: 'North Bryonbury', address: "965 Daniel Motorway Apt. 550\nTillmanview, CT 49270-2326", phoneNumber: +1.478.515.4324, reseller_id: 14, created_at: '2001-02-16T15:40:14.000000Z', updated_at: '1976-02-13T01:08:27.000000Z', reseller: { id: 14, name: 'Billie Homenick', description: 'Quis sit in fuga saepe dolorem esse quas. Tempora architecto autem et sit voluptatibus.', latitude: '43.859419', longitude: '-127.737128', supplier_id: 10, created_at: '1997-03-28T07:47:03.000000Z', updated_at: '1999-03-20T10:56:00.000000Z' }, orders: [{ id: 23, number: '84623', date: '2016-03-29', price: '376', customer_id: 6, created_at: '1999-07-30T00:00:46.000000Z', updated_at: '1990-07-25T19:27:17.000000Z' }, { id: 84, number: '6853375', date: '2012-02-08', price: '296', customer_id: 6, created_at: '2020-07-01T06:58:18.000000Z', updated_at: '2002-10-27T04:57:24.000000Z' }, { id: 246, number: '1518', date: '1986-01-25', price: '77', customer_id: 6, created_at: '1975-04-28T21:48:54.000000Z', updated_at: '1990-05-23T15:02:01.000000Z' }, { id: 408, number: '715467', date: '2004-07-19', price: '411', customer_id: 6, created_at: '2020-07-03T16:13:29.000000Z', updated_at: '1971-10-29T18:03:24.000000Z' }, { id: 418, number: '7769809', date: '2020-05-27', price: '303', customer_id: 6, created_at: '2015-09-15T12:58:54.000000Z', updated_at: '2017-02-17T07:44:23.000000Z' }] }, { id: 7, firstName: Fausto, lastName: Leffler, email: lkeeling@botsford.com, codePostal: 15788-2408, city: 'West Yasmeen', address: "32170 Toy Forest\nAlvinaport, TX 33716", phoneNumber: 413-604-7829, reseller_id: 12, created_at: '1999-07-17T18:20:25.000000Z', updated_at: '1997-04-07T16:54:27.000000Z', reseller: { id: 12, name: 'Alden Treutel I', description: 'Fugiat pariatur culpa nostrum sed aut dolorem.', latitude: '66.624887', longitude: '9.321349', supplier_id: 3, created_at: '2010-04-22T00:20:29.000000Z', updated_at: '1992-11-28T16:54:40.000000Z' }, orders: [{ id: 27, number: '2619', date: '1981-09-14', price: '31', customer_id: 7, created_at: '1976-05-08T19:21:51.000000Z', updated_at: '2012-05-03T15:37:09.000000Z' }, { id: 30, number: '163', date: '1971-08-23', price: '293', customer_id: 7, created_at: '1975-04-15T18:10:59.000000Z', updated_at: '2011-07-07T13:58:45.000000Z' }, { id: 31, number: '60', date: '2016-06-05', price: '338', customer_id: 7, created_at: '1998-07-08T23:20:09.000000Z', updated_at: '2010-01-25T08:16:50.000000Z' }, { id: 51, number: '9123440', date: '2019-09-18', price: '273', customer_id: 7, created_at: '2000-12-27T21:32:03.000000Z', updated_at: '1973-01-25T14:44:58.000000Z' }, { id: 79, number: '4', date: '1977-01-21', price: '334', customer_id: 7, created_at: '2000-05-08T06:33:17.000000Z', updated_at: '1977-02-03T04:02:15.000000Z' }, { id: 129, number: '311093566', date: '2004-07-24', price: '400', customer_id: 7, created_at: '1979-07-02T23:30:36.000000Z', updated_at: '1986-10-06T01:44:28.000000Z' }, { id: 138, number: '80807525', date: '1983-11-25', price: '255', customer_id: 7, created_at: '2006-06-02T00:31:11.000000Z', updated_at: '2001-09-23T02:15:12.000000Z' }, { id: 255, number: '115945', date: '1971-05-15', price: '480', customer_id: 7, created_at: '1992-04-15T01:14:30.000000Z', updated_at: '1993-04-30T18:30:28.000000Z' }, { id: 270, number: '4512', date: '2012-07-03', price: '421', customer_id: 7, created_at: '1972-04-10T13:20:11.000000Z', updated_at: '2018-12-28T12:19:30.000000Z' }, { id: 328, number: '79750177', date: '2000-11-29', price: '442', customer_id: 7, created_at: '1997-01-05T18:30:39.000000Z', updated_at: '1980-05-18T15:30:54.000000Z' }, { id: 369, number: '986222', date: '1977-02-28', price: '313', customer_id: 7, created_at: '1999-09-27T09:26:33.000000Z', updated_at: '1973-07-24T11:45:51.000000Z' }, { id: 387, number: '5748', date: '2011-11-21', price: '274', customer_id: 7, created_at: '1991-06-30T14:51:50.000000Z', updated_at: '1976-10-11T06:01:38.000000Z' }, { id: 423, number: '58169724', date: '2013-11-10', price: '26', customer_id: 7, created_at: '2018-05-12T01:37:36.000000Z', updated_at: '1978-10-31T22:38:42.000000Z' }, { id: 466, number: '4470', date: '1977-09-10', price: '69', customer_id: 7, created_at: '1999-01-06T01:54:46.000000Z', updated_at: '2023-01-08T11:56:11.000000Z' }] }, { id: 8, firstName: Reinhold, lastName: VonRueden, email: schulist.horacio@bartell.com, codePostal: 04961-0965, city: Venaborough, address: "5350 Madeline Flats\nMarquardtbury, WA 04135", phoneNumber: +1-301-394-0468, reseller_id: 42, created_at: '1978-08-03T02:40:56.000000Z', updated_at: '1982-03-17T21:36:45.000000Z', reseller: { id: 42, name: 'Bell McClure', description: 'Eos sint aut alias quisquam praesentium possimus. Velit pariatur accusamus adipisci saepe.', latitude: '40.368418', longitude: '-33.506203', supplier_id: 19, created_at: '2000-12-12T15:16:37.000000Z', updated_at: '2010-12-15T02:37:06.000000Z' }, orders: [{ id: 13, number: '3935', date: '2014-03-29', price: '332', customer_id: 8, created_at: '1984-07-02T11:05:05.000000Z', updated_at: '1973-02-02T19:17:51.000000Z' }, { id: 28, number: '23', date: '2013-03-19', price: '324', customer_id: 8, created_at: '2007-10-03T06:32:20.000000Z', updated_at: '2023-08-09T05:26:00.000000Z' }, { id: 65, number: '174108', date: '1980-02-03', price: '164', customer_id: 8, created_at: '1995-01-12T18:30:16.000000Z', updated_at: '2010-10-28T18:47:24.000000Z' }, { id: 112, number: '785189223', date: '1997-07-25', price: '262', customer_id: 8, created_at: '2009-10-11T08:26:15.000000Z', updated_at: '2015-04-12T11:46:45.000000Z' }, { id: 134, number: '8556689', date: '2005-08-07', price: '73', customer_id: 8, created_at: '1977-06-17T06:45:40.000000Z', updated_at: '1983-08-10T14:21:31.000000Z' }, { id: 211, number: '275817', date: '2013-02-09', price: '225', customer_id: 8, created_at: '2019-08-08T09:41:03.000000Z', updated_at: '1975-11-09T18:13:43.000000Z' }, { id: 263, number: '90299', date: '2000-07-14', price: '284', customer_id: 8, created_at: '1985-01-12T16:14:22.000000Z', updated_at: '1994-01-22T15:10:26.000000Z' }, { id: 319, number: '95591076', date: '2013-03-23', price: '375', customer_id: 8, created_at: '2021-12-30T22:29:32.000000Z', updated_at: '1995-09-06T07:42:28.000000Z' }, { id: 370, number: '122', date: '1992-01-07', price: '465', customer_id: 8, created_at: '1982-08-29T23:41:07.000000Z', updated_at: '2007-12-22T11:21:35.000000Z' }, { id: 372, number: '2047594', date: '1995-11-20', price: '135', customer_id: 8, created_at: '2020-12-05T18:41:11.000000Z', updated_at: '2004-04-24T22:52:58.000000Z' }, { id: 393, number: '711718260', date: '2014-12-31', price: '147', customer_id: 8, created_at: '1988-05-13T17:46:03.000000Z', updated_at: '2002-06-01T14:24:53.000000Z' }, { id: 451, number: '7848', date: '1977-05-26', price: '431', customer_id: 8, created_at: '2023-04-24T23:55:50.000000Z', updated_at: '1979-06-14T15:25:12.000000Z' }, { id: 485, number: '96981', date: '2014-09-14', price: '44', customer_id: 8, created_at: '2008-08-04T22:48:36.000000Z', updated_at: '1984-04-25T05:04:32.000000Z' }, { id: 496, number: '46', date: '2007-08-25', price: '218', customer_id: 8, created_at: '2008-06-17T23:49:43.000000Z', updated_at: '1981-03-23T12:52:07.000000Z' }] }, { id: 9, firstName: Zoie, lastName: Mayer, email: roconnell@yahoo.com, codePostal: 51475-2074, city: Murazikton, address: "28875 Alice Cape Apt. 014\nSigmundbury, KS 48108", phoneNumber: 980.232.0557, reseller_id: 36, created_at: '1973-10-04T06:25:14.000000Z', updated_at: '1984-06-02T13:41:34.000000Z', reseller: { id: 36, name: 'Dale VonRueden', description: 'Consequuntur perferendis tenetur libero laborum. Alias aut et esse quo unde eaque.', latitude: '-34.414346', longitude: '139.432833', supplier_id: 27, created_at: '2014-04-02T17:04:51.000000Z', updated_at: '1993-03-11T04:45:24.000000Z' }, orders: [{ id: 73, number: '906615156', date: '1991-08-28', price: '473', customer_id: 9, created_at: '1976-05-10T16:00:57.000000Z', updated_at: '2001-12-15T13:24:37.000000Z' }, { id: 105, number: '841902435', date: '1971-04-15', price: '313', customer_id: 9, created_at: '1998-11-07T18:49:08.000000Z', updated_at: '1986-03-20T01:14:11.000000Z' }, { id: 189, number: '907', date: '2009-11-04', price: '309', customer_id: 9, created_at: '1990-02-19T06:21:34.000000Z', updated_at: '2001-10-13T21:35:48.000000Z' }, { id: 224, number: '6436', date: '2011-06-13', price: '20', customer_id: 9, created_at: '1976-05-18T14:33:45.000000Z', updated_at: '1986-04-19T12:14:50.000000Z' }] }, { id: 10, firstName: Kaleb, lastName: Torphy, email: uschaefer@frami.org, codePostal: 84733-5493, city: 'Lake Dewittville', address: "652 Joana Dale\nNew Elainaburgh, MS 00634-5551", phoneNumber: +1-941-438-4862, reseller_id: 2, created_at: '2012-12-05T21:01:43.000000Z', updated_at: '1991-07-26T10:49:11.000000Z', reseller: { id: 2, name: 'Jayme Powlowski', description: 'Est inventore consequatur ea alias iste est.', latitude: '84.786045', longitude: '-130.407479', supplier_id: 1, created_at: '2001-02-02T17:47:28.000000Z', updated_at: '1981-09-23T04:48:13.000000Z' }, orders: [{ id: 58, number: '84501', date: '1991-12-31', price: '328', customer_id: 10, created_at: '1977-01-17T02:29:03.000000Z', updated_at: '2017-04-28T18:20:49.000000Z' }, { id: 115, number: '49918', date: '2010-06-04', price: '57', customer_id: 10, created_at: '2010-06-19T05:21:56.000000Z', updated_at: '1980-01-21T12:55:01.000000Z' }, { id: 121, number: '251272', date: '2001-02-02', price: '422', customer_id: 10, created_at: '1987-08-18T15:26:52.000000Z', updated_at: '1998-12-18T22:13:53.000000Z' }, { id: 127, number: '8336623', date: '1997-12-06', price: '301', customer_id: 10, created_at: '1976-08-15T23:52:15.000000Z', updated_at: '2005-11-10T12:54:03.000000Z' }, { id: 147, number: '824', date: '1970-03-11', price: '125', customer_id: 10, created_at: '1979-02-12T12:08:03.000000Z', updated_at: '2013-08-30T23:36:23.000000Z' }, { id: 156, number: '33896630', date: '1999-07-29', price: '38', customer_id: 10, created_at: '2015-05-16T17:52:43.000000Z', updated_at: '1999-12-09T03:57:35.000000Z' }, { id: 234, number: '35', date: '1973-03-13', price: '112', customer_id: 10, created_at: '1989-09-12T12:14:30.000000Z', updated_at: '2009-03-07T14:03:16.000000Z' }, { id: 244, number: '266764782', date: '1989-05-22', price: '235', customer_id: 10, created_at: '1986-01-22T21:33:26.000000Z', updated_at: '1980-04-09T22:51:11.000000Z' }, { id: 267, number: '61', date: '2005-07-01', price: '448', customer_id: 10, created_at: '2016-11-01T20:12:35.000000Z', updated_at: '1973-12-21T23:49:04.000000Z' }, { id: 298, number: '55919223', date: '1980-02-05', price: '47', customer_id: 10, created_at: '2011-09-01T19:23:11.000000Z', updated_at: '2015-01-21T16:45:07.000000Z' }, { id: 406, number: '68896', date: '1980-03-03', price: '443', customer_id: 10, created_at: '2021-11-08T21:06:26.000000Z', updated_at: '1995-06-25T22:25:59.000000Z' }, { id: 411, number: '8702', date: '2020-01-01', price: '184', customer_id: 10, created_at: '1979-11-23T21:47:30.000000Z', updated_at: '1982-03-30T22:26:10.000000Z' }, { id: 477, number: '2378', date: '2015-09-28', price: '214', customer_id: 10, created_at: '2006-12-26T22:19:37.000000Z', updated_at: '1983-12-11T02:33:40.000000Z' }, { id: 478, number: '65362', date: '2017-04-26', price: '301', customer_id: 10, created_at: '1974-06-08T08:16:20.000000Z', updated_at: '1980-12-31T17:16:08.000000Z' }, { id: 489, number: '7802', date: '2009-06-12', price: '251', customer_id: 10, created_at: '2001-10-06T21:18:50.000000Z', updated_at: '1979-09-20T04:18:22.000000Z' }] }, { id: 11, firstName: Lily, lastName: Crona, email: grice@emmerich.com, codePostal: '12484', city: 'South Natalie', address: "920 Jerald Locks\nEthanville, SD 62200", phoneNumber: +1-458-689-9402, reseller_id: 10, created_at: '2014-04-20T16:24:29.000000Z', updated_at: '1983-01-10T17:07:28.000000Z', reseller: { id: 10, name: 'Prof. Vance Vandervort DDS', description: 'Autem in iusto omnis nobis. Reiciendis repudiandae nihil mollitia reiciendis quae minus.', latitude: '-47.306174', longitude: '-3.03512', supplier_id: 3, created_at: '1987-08-27T03:24:54.000000Z', updated_at: '1970-09-30T16:03:06.000000Z' }, orders: [{ id: 33, number: '2', date: '1999-04-27', price: '25', customer_id: 11, created_at: '2011-03-01T17:32:33.000000Z', updated_at: '1994-03-04T08:16:27.000000Z' }, { id: 94, number: '710040', date: '1981-04-25', price: '312', customer_id: 11, created_at: '1987-04-14T01:15:29.000000Z', updated_at: '1979-03-27T22:31:51.000000Z' }, { id: 310, number: '7520', date: '1995-10-14', price: '467', customer_id: 11, created_at: '2003-11-05T12:34:56.000000Z', updated_at: '2002-11-25T18:57:44.000000Z' }, { id: 338, number: '67561', date: '1993-03-09', price: '467', customer_id: 11, created_at: '2018-03-11T19:43:37.000000Z', updated_at: '2007-06-14T14:25:31.000000Z' }, { id: 434, number: '74627', date: '1983-12-20', price: '38', customer_id: 11, created_at: '2023-07-02T23:04:46.000000Z', updated_at: '1986-11-05T18:45:54.000000Z' }] }, { id: 12, firstName: Eldora, lastName: Rath, email: amy46@emmerich.info, codePostal: '46338', city: Lubowitzton, address: "19420 Rogahn Loop\nNorth Jackybury, CT 21768-7924", phoneNumber: 260-302-2637, reseller_id: 40, created_at: '1983-12-31T17:48:41.000000Z', updated_at: '2012-05-11T13:55:37.000000Z', reseller: { id: 40, name: 'Jacky Ferry', description: 'Unde nulla iste cum porro. Animi ipsam qui facilis hic distinctio quibusdam.', latitude: '34.808343', longitude: '17.221922', supplier_id: 7, created_at: '2020-12-27T08:24:57.000000Z', updated_at: '1995-08-11T14:15:55.000000Z' }, orders: [{ id: 64, number: '5813040', date: '2000-08-17', price: '197', customer_id: 12, created_at: '2011-05-15T07:12:07.000000Z', updated_at: '2018-10-26T03:35:44.000000Z' }, { id: 412, number: '55129667', date: '1982-08-31', price: '314', customer_id: 12, created_at: '2001-03-18T22:31:13.000000Z', updated_at: '1992-01-17T02:15:29.000000Z' }, { id: 426, number: '8637147', date: '2014-09-15', price: '483', customer_id: 12, created_at: '1977-03-21T21:58:03.000000Z', updated_at: '1992-08-30T14:28:56.000000Z' }, { id: 487, number: '333830', date: '1973-05-04', price: '407', customer_id: 12, created_at: '2011-11-05T14:30:38.000000Z', updated_at: '1983-10-13T21:42:32.000000Z' }] }, { id: 13, firstName: Stephon, lastName: Bartell, email: jonas.graham@gmail.com, codePostal: '17395', city: 'East Alf', address: "816 Armstrong Ports Suite 147\nJuliaton, OR 99672-4460", phoneNumber: 907-709-3350, reseller_id: 50, created_at: '1984-10-17T03:33:40.000000Z', updated_at: '2011-06-18T05:04:55.000000Z', reseller: { id: 50, name: 'Dr. Odessa Powlowski IV', description: 'Magnam non nemo et minima incidunt reiciendis. Illum saepe magni vel ipsum.', latitude: '-9.902188', longitude: '-7.24016', supplier_id: 8, created_at: '1994-09-17T21:37:15.000000Z', updated_at: '1974-09-13T07:15:37.000000Z' }, orders: [{ id: 53, number: '699174', date: '1992-04-10', price: '369', customer_id: 13, created_at: '2017-08-02T22:27:07.000000Z', updated_at: '1973-03-26T16:48:39.000000Z' }, { id: 93, number: '6250625', date: '1981-11-20', price: '113', customer_id: 13, created_at: '1971-02-12T01:18:05.000000Z', updated_at: '2016-09-23T22:18:20.000000Z' }, { id: 219, number: '43', date: '2017-05-14', price: '355', customer_id: 13, created_at: '1995-04-28T18:08:31.000000Z', updated_at: '1993-07-28T08:36:59.000000Z' }, { id: 321, number: '140897', date: '1980-07-06', price: '337', customer_id: 13, created_at: '1993-03-11T00:25:06.000000Z', updated_at: '1981-12-22T21:15:31.000000Z' }, { id: 378, number: '507794086', date: '2020-09-21', price: '484', customer_id: 13, created_at: '2013-12-29T13:36:38.000000Z', updated_at: '1978-07-06T19:07:53.000000Z' }, { id: 436, number: '25579963', date: '1977-11-25', price: '345', customer_id: 13, created_at: '2010-11-26T21:36:10.000000Z', updated_at: '1973-09-05T08:43:54.000000Z' }] }, { id: 14, firstName: Jake, lastName: Schumm, email: aquigley@stanton.com, codePostal: '65622', city: Satterfieldmouth, address: "970 Consuelo Burgs\nMelissamouth, MD 23339-2751", phoneNumber: '+1 (606) 873-8984', reseller_id: 48, created_at: '1982-07-31T20:31:28.000000Z', updated_at: '2010-11-28T21:30:22.000000Z', reseller: { id: 48, name: 'Cynthia Upton', description: 'Beatae debitis soluta accusantium ut ea dolorem quia porro.', latitude: '-16.777851', longitude: '108.680641', supplier_id: 30, created_at: '1997-12-20T01:48:28.000000Z', updated_at: '1980-11-21T23:19:47.000000Z' }, orders: [{ id: 55, number: '861', date: '2021-09-08', price: '109', customer_id: 14, created_at: '2007-11-19T07:04:39.000000Z', updated_at: '1994-09-12T11:41:50.000000Z' }, { id: 131, number: '643326786', date: '1985-02-11', price: '76', customer_id: 14, created_at: '1998-10-18T13:49:04.000000Z', updated_at: '1972-11-12T16:32:18.000000Z' }, { id: 194, number: '28358170', date: '2021-06-10', price: '93', customer_id: 14, created_at: '2008-02-14T06:21:55.000000Z', updated_at: '2016-12-30T14:04:54.000000Z' }, { id: 216, number: '63447566', date: '1982-01-23', price: '120', customer_id: 14, created_at: '2007-07-17T04:59:42.000000Z', updated_at: '1982-10-11T13:11:27.000000Z' }, { id: 314, number: '590885', date: '2011-07-08', price: '132', customer_id: 14, created_at: '2001-01-04T02:33:38.000000Z', updated_at: '2021-02-17T01:53:39.000000Z' }, { id: 377, number: '5016', date: '1978-11-19', price: '301', customer_id: 14, created_at: '2022-04-22T03:59:23.000000Z', updated_at: '2021-03-10T00:35:19.000000Z' }, { id: 448, number: '110', date: '1990-04-19', price: '456', customer_id: 14, created_at: '1987-06-23T01:01:06.000000Z', updated_at: '1990-08-13T09:06:47.000000Z' }, { id: 495, number: '17749', date: '1993-10-14', price: '479', customer_id: 14, created_at: '1991-05-08T12:12:35.000000Z', updated_at: '1982-11-15T10:36:20.000000Z' }] }, { id: 15, firstName: Carolyne, lastName: Armstrong, email: gaylord.lolita@mraz.com, codePostal: 98815-4873, city: Krajcikton, address: "3938 Amber Light Apt. 474\nLake Alvah, CO 32625", phoneNumber: '(657) 377-2762', reseller_id: 3, created_at: '2009-06-15T14:21:32.000000Z', updated_at: '1987-05-15T15:52:08.000000Z', reseller: { id: 3, name: 'Grayce Prosacco', description: 'Nemo consectetur recusandae inventore est. Ipsum consequatur quod nam repudiandae nostrum nihil facilis.', latitude: '36.780091', longitude: '36.961585', supplier_id: 22, created_at: '1998-04-30T03:29:59.000000Z', updated_at: '2004-12-06T21:53:33.000000Z' }, orders: [{ id: 29, number: '4461', date: '2023-05-03', price: '317', customer_id: 15, created_at: '1978-09-03T13:29:07.000000Z', updated_at: '2009-08-12T11:09:51.000000Z' }, { id: 75, number: '728149181', date: '1980-03-22', price: '247', customer_id: 15, created_at: '2001-04-06T08:33:12.000000Z', updated_at: '2008-11-25T11:40:30.000000Z' }, { id: 128, number: '86', date: '2021-10-06', price: '384', customer_id: 15, created_at: '1998-03-11T01:56:45.000000Z', updated_at: '2013-07-23T13:20:13.000000Z' }, { id: 276, number: '51', date: '1991-12-22', price: '259', customer_id: 15, created_at: '2003-10-08T00:09:11.000000Z', updated_at: '2011-01-12T14:58:52.000000Z' }, { id: 289, number: '62', date: '2020-05-29', price: '63', customer_id: 15, created_at: '2004-07-20T10:07:40.000000Z', updated_at: '2001-05-05T09:07:03.000000Z' }, { id: 453, number: '291630', date: '2013-03-26', price: '376', customer_id: 15, created_at: '1989-11-08T08:29:02.000000Z', updated_at: '1977-09-03T23:17:07.000000Z' }, { id: 488, number: '592476', date: '2006-07-17', price: '457', customer_id: 15, created_at: '2017-09-09T14:03:17.000000Z', updated_at: '1982-04-25T08:19:45.000000Z' }, { id: 494, number: '36', date: '2001-07-24', price: '390', customer_id: 15, created_at: '1973-12-04T20:56:54.000000Z', updated_at: '2009-01-29T07:54:08.000000Z' }] }, { id: 16, firstName: Ramon, lastName: Johnston, email: benjamin.pfannerstill@herzog.com, codePostal: 20947-9133, city: 'New Mertie', address: "486 Cheyanne Place Apt. 246\nNorth Leola, GA 82361", phoneNumber: 1-949-269-4487, reseller_id: 20, created_at: '1992-03-04T12:26:00.000000Z', updated_at: '1977-04-13T13:04:26.000000Z', reseller: { id: 20, name: 'Dr. Fabiola Shields V', description: 'Vero accusamus ex dolorem et quasi cupiditate illum ut.', latitude: '2.836284', longitude: '-131.021316', supplier_id: 3, created_at: '1975-11-11T12:35:06.000000Z', updated_at: '1989-03-21T15:27:23.000000Z' }, orders: [{ id: 38, number: '78571054', date: '1997-10-04', price: '106', customer_id: 16, created_at: '2000-07-23T14:56:48.000000Z', updated_at: '2013-11-28T19:54:07.000000Z' }, { id: 72, number: '808', date: '1983-11-26', price: '127', customer_id: 16, created_at: '1976-04-09T15:01:32.000000Z', updated_at: '2004-12-01T15:14:03.000000Z' }, { id: 90, number: '1974', date: '2002-06-20', price: '98', customer_id: 16, created_at: '1974-07-07T11:05:14.000000Z', updated_at: '1985-08-21T08:37:46.000000Z' }, { id: 306, number: '74584438', date: '1979-11-24', price: '384', customer_id: 16, created_at: '1996-12-18T03:04:51.000000Z', updated_at: '2015-11-21T18:42:58.000000Z' }, { id: 335, number: '162', date: '2005-10-29', price: '407', customer_id: 16, created_at: '1975-05-21T06:39:29.000000Z', updated_at: '1986-11-01T07:46:24.000000Z' }, { id: 342, number: '3974', date: '2018-06-20', price: '422', customer_id: 16, created_at: '1995-10-20T09:15:15.000000Z', updated_at: '2022-02-28T18:00:53.000000Z' }, { id: 363, number: '3140', date: '1983-04-02', price: '356', customer_id: 16, created_at: '2002-11-28T08:43:13.000000Z', updated_at: '1998-10-13T13:23:09.000000Z' }, { id: 368, number: '5283653', date: '2011-04-16', price: '136', customer_id: 16, created_at: '2002-05-22T04:22:19.000000Z', updated_at: '2002-10-23T08:37:39.000000Z' }, { id: 388, number: '106', date: '1972-08-03', price: '160', customer_id: 16, created_at: '2000-02-22T22:54:59.000000Z', updated_at: '1986-04-13T20:27:22.000000Z' }, { id: 399, number: '292650', date: '1972-05-08', price: '267', customer_id: 16, created_at: '2001-12-30T14:26:15.000000Z', updated_at: '1975-10-06T14:40:09.000000Z' }, { id: 403, number: '5637937', date: '1970-11-07', price: '250', customer_id: 16, created_at: '2013-11-26T22:12:55.000000Z', updated_at: '2013-01-01T06:20:13.000000Z' }, { id: 404, number: '25810', date: '2010-02-05', price: '129', customer_id: 16, created_at: '2018-05-21T12:22:09.000000Z', updated_at: '1987-10-08T15:37:48.000000Z' }, { id: 491, number: '13491', date: '1982-01-29', price: '165', customer_id: 16, created_at: '2000-08-30T04:19:55.000000Z', updated_at: '2020-04-25T01:34:50.000000Z' }] }, { id: 17, firstName: Miguel, lastName: Christiansen, email: thaddeus62@witting.com, codePostal: 19769-2713, city: Americochester, address: "35282 McGlynn Mountain\nWest Kristofer, WV 49709-1545", phoneNumber: +1-661-746-7122, reseller_id: 50, created_at: '1976-02-06T19:34:50.000000Z', updated_at: '1981-03-26T17:03:53.000000Z', reseller: { id: 50, name: 'Dr. Odessa Powlowski IV', description: 'Magnam non nemo et minima incidunt reiciendis. Illum saepe magni vel ipsum.', latitude: '-9.902188', longitude: '-7.24016', supplier_id: 8, created_at: '1994-09-17T21:37:15.000000Z', updated_at: '1974-09-13T07:15:37.000000Z' }, orders: [{ id: 11, number: '1325933', date: '1987-08-28', price: '138', customer_id: 17, created_at: '1981-03-09T22:11:57.000000Z', updated_at: '1978-04-27T14:14:01.000000Z' }, { id: 21, number: '8', date: '1997-08-01', price: '351', customer_id: 17, created_at: '1973-04-06T00:47:16.000000Z', updated_at: '1973-12-18T01:42:55.000000Z' }, { id: 86, number: '90446819', date: '2001-07-11', price: '494', customer_id: 17, created_at: '1980-06-08T09:22:38.000000Z', updated_at: '1994-09-03T09:37:52.000000Z' }, { id: 116, number: '716137387', date: '2017-01-01', price: '371', customer_id: 17, created_at: '2022-03-08T01:07:22.000000Z', updated_at: '1992-01-22T12:23:45.000000Z' }, { id: 150, number: '7375404', date: '2006-04-05', price: '39', customer_id: 17, created_at: '1997-01-08T20:08:21.000000Z', updated_at: '2013-09-29T20:58:42.000000Z' }, { id: 184, number: '404471745', date: '1989-08-30', price: '332', customer_id: 17, created_at: '1993-11-09T07:04:28.000000Z', updated_at: '1975-01-08T18:37:56.000000Z' }, { id: 242, number: '9930490', date: '2004-04-19', price: '172', customer_id: 17, created_at: '1977-01-23T15:48:00.000000Z', updated_at: '1975-03-01T08:38:07.000000Z' }, { id: 285, number: '90471741', date: '2020-09-15', price: '388', customer_id: 17, created_at: '2018-02-18T04:18:27.000000Z', updated_at: '2001-01-07T16:54:19.000000Z' }, { id: 397, number: '9556', date: '1983-09-09', price: '89', customer_id: 17, created_at: '2016-08-30T15:39:00.000000Z', updated_at: '1982-10-09T16:04:15.000000Z' }, { id: 407, number: '759', date: '2019-07-16', price: '171', customer_id: 17, created_at: '1977-12-16T07:46:30.000000Z', updated_at: '2019-06-29T04:11:05.000000Z' }, { id: 463, number: '561480186', date: '2012-08-10', price: '88', customer_id: 17, created_at: '2020-07-08T13:33:00.000000Z', updated_at: '2006-03-17T21:11:28.000000Z' }, { id: 482, number: '73', date: '2006-04-06', price: '486', customer_id: 17, created_at: '1996-08-13T08:58:32.000000Z', updated_at: '1978-04-13T08:33:51.000000Z' }] }, { id: 18, firstName: Marvin, lastName: Kuhic, email: piper.paucek@cruickshank.org, codePostal: '06833', city: Rodolfostad, address: "5382 Cormier Ways Suite 632\nWardland, IN 19614-9508", phoneNumber: 385-616-6440, reseller_id: 42, created_at: '1980-05-20T18:45:57.000000Z', updated_at: '2013-10-04T20:41:55.000000Z', reseller: { id: 42, name: 'Bell McClure', description: 'Eos sint aut alias quisquam praesentium possimus. Velit pariatur accusamus adipisci saepe.', latitude: '40.368418', longitude: '-33.506203', supplier_id: 19, created_at: '2000-12-12T15:16:37.000000Z', updated_at: '2010-12-15T02:37:06.000000Z' }, orders: [{ id: 40, number: '9708658', date: '1970-03-30', price: '324', customer_id: 18, created_at: '1971-05-08T05:35:32.000000Z', updated_at: '2013-10-08T20:52:05.000000Z' }, { id: 50, number: '12352', date: '2001-09-01', price: '428', customer_id: 18, created_at: '1971-09-18T01:31:45.000000Z', updated_at: '1988-12-30T13:20:08.000000Z' }, { id: 168, number: '8210', date: '1975-03-16', price: '371', customer_id: 18, created_at: '1993-08-21T03:03:15.000000Z', updated_at: '1994-07-18T19:03:30.000000Z' }, { id: 175, number: '7171', date: '1992-09-25', price: '65', customer_id: 18, created_at: '2004-09-15T00:50:14.000000Z', updated_at: '1994-08-09T20:19:53.000000Z' }, { id: 183, number: '76629', date: '2018-09-01', price: '214', customer_id: 18, created_at: '2005-06-20T23:39:02.000000Z', updated_at: '1981-06-07T08:45:54.000000Z' }, { id: 243, number: '6370', date: '1973-04-19', price: '48', customer_id: 18, created_at: '2020-06-29T21:12:46.000000Z', updated_at: '1971-11-23T00:43:55.000000Z' }, { id: 323, number: '7452573', date: '1984-03-12', price: '290', customer_id: 18, created_at: '1981-12-25T09:40:20.000000Z', updated_at: '1985-01-27T19:06:40.000000Z' }, { id: 395, number: '5524', date: '1993-10-27', price: '188', customer_id: 18, created_at: '1974-07-27T12:07:22.000000Z', updated_at: '1996-08-29T04:59:37.000000Z' }, { id: 409, number: '6761', date: '2005-10-27', price: '377', customer_id: 18, created_at: '2007-12-09T00:54:11.000000Z', updated_at: '2006-08-12T12:21:48.000000Z' }, { id: 440, number: '663', date: '1984-11-25', price: '300', customer_id: 18, created_at: '2016-07-31T10:58:28.000000Z', updated_at: '1990-12-12T16:10:48.000000Z' }, { id: 460, number: '928', date: '1978-06-28', price: '383', customer_id: 18, created_at: '1992-07-18T23:54:46.000000Z', updated_at: '1972-09-20T05:28:51.000000Z' }, { id: 493, number: '7661', date: '1990-01-21', price: '305', customer_id: 18, created_at: '2014-10-29T05:43:28.000000Z', updated_at: '1998-05-13T03:57:44.000000Z' }, { id: 498, number: '28', date: '1976-03-31', price: '184', customer_id: 18, created_at: '1988-05-18T14:50:09.000000Z', updated_at: '2007-02-03T11:18:53.000000Z' }] }, { id: 19, firstName: Fredrick, lastName: Roob, email: rubie93@conroy.biz, codePostal: 57108-9277, city: Boylefurt, address: "565 Aurelia Branch\nSouth Ocie, ID 64298", phoneNumber: 531.713.7765, reseller_id: 33, created_at: '1976-10-01T13:40:35.000000Z', updated_at: '1984-01-02T20:12:50.000000Z', reseller: { id: 33, name: 'Sylvester Zboncak', description: 'Et qui omnis ut.', latitude: '-52.475049', longitude: '-164.404789', supplier_id: 7, created_at: '1995-01-17T18:13:18.000000Z', updated_at: '1975-12-19T06:16:39.000000Z' }, orders: [{ id: 7, number: '89289529', date: '1991-12-20', price: '366', customer_id: 19, created_at: '2014-01-31T07:15:36.000000Z', updated_at: '1983-01-28T06:21:08.000000Z' }, { id: 17, number: '6352', date: '2001-11-16', price: '404', customer_id: 19, created_at: '1994-09-23T09:57:27.000000Z', updated_at: '2022-09-07T06:11:13.000000Z' }, { id: 37, number: '49817', date: '2023-08-03', price: '316', customer_id: 19, created_at: '2017-05-27T21:40:53.000000Z', updated_at: '2013-12-08T16:53:29.000000Z' }, { id: 97, number: '67197614', date: '2004-03-01', price: '180', customer_id: 19, created_at: '2005-10-28T18:47:12.000000Z', updated_at: '2007-01-17T01:06:42.000000Z' }, { id: 139, number: '66900003', date: '1997-04-19', price: '493', customer_id: 19, created_at: '1993-01-17T21:06:06.000000Z', updated_at: '1998-05-02T08:50:04.000000Z' }, { id: 204, number: '3245077', date: '1978-11-05', price: '69', customer_id: 19, created_at: '1974-12-02T05:55:06.000000Z', updated_at: '2022-11-20T02:02:12.000000Z' }, { id: 221, number: '8078957', date: '1994-06-20', price: '87', customer_id: 19, created_at: '2003-03-10T18:57:35.000000Z', updated_at: '1993-01-18T23:23:19.000000Z' }, { id: 391, number: '4467102', date: '1974-05-14', price: '462', customer_id: 19, created_at: '1988-08-20T08:52:13.000000Z', updated_at: '2009-01-08T11:36:50.000000Z' }, { id: 410, number: '42', date: '2016-01-18', price: '170', customer_id: 19, created_at: '2021-04-28T21:24:16.000000Z', updated_at: '2008-02-06T14:31:56.000000Z' }, { id: 454, number: '902815392', date: '2013-06-17', price: '411', customer_id: 19, created_at: '1994-03-12T22:37:41.000000Z', updated_at: '2015-03-18T09:44:15.000000Z' }] }, { id: 20, firstName: Michael, lastName: Adams, email: cquitzon@hotmail.com, codePostal: '64904', city: Willmschester, address: "5300 Schulist Ports Apt. 602\nNorth Krystalfort, KY 18064", phoneNumber: '+1 (220) 419-5432', reseller_id: 35, created_at: '2000-10-21T13:52:28.000000Z', updated_at: '1994-05-28T13:09:12.000000Z', reseller: { id: 35, name: 'Dr. Kianna Spencer II', description: 'Sit reprehenderit aspernatur omnis atque ad.', latitude: '-9.261637', longitude: '146.757797', supplier_id: 1, created_at: '1976-07-31T06:16:51.000000Z', updated_at: '2011-08-27T07:35:20.000000Z' }, orders: [{ id: 14, number: '986179794', date: '2011-02-03', price: '143', customer_id: 20, created_at: '1998-10-10T04:41:22.000000Z', updated_at: '2023-05-26T11:00:27.000000Z' }, { id: 179, number: '80', date: '2004-03-20', price: '213', customer_id: 20, created_at: '1988-12-08T16:36:45.000000Z', updated_at: '2001-05-25T09:01:32.000000Z' }, { id: 358, number: '2836773', date: '1987-04-04', price: '183', customer_id: 20, created_at: '1973-01-13T07:07:20.000000Z', updated_at: '2014-05-09T21:38:25.000000Z' }, { id: 492, number: '80749649', date: '2005-03-13', price: '346', customer_id: 20, created_at: '2008-10-16T13:52:24.000000Z', updated_at: '1973-07-03T11:16:22.000000Z' }] }, { id: 21, firstName: Juanita, lastName: Prosacco, email: farrell.genoveva@hotmail.com, codePostal: '33887', city: 'East Abigail', address: "711 McDermott Place Suite 791\nPort Victorborough, TN 10180", phoneNumber: '(786) 440-5129', reseller_id: 27, created_at: '2011-01-24T14:45:33.000000Z', updated_at: '2013-06-16T11:58:54.000000Z', reseller: { id: 27, name: 'Mr. Kenton Carter MD', description: 'Unde laudantium incidunt non inventore.', latitude: '-87.90733', longitude: '88.085135', supplier_id: 9, created_at: '2020-09-26T05:16:47.000000Z', updated_at: '2018-04-15T18:51:45.000000Z' }, orders: [{ id: 78, number: '478', date: '2005-04-17', price: '103', customer_id: 21, created_at: '2020-05-24T15:17:11.000000Z', updated_at: '2002-12-13T19:48:51.000000Z' }, { id: 103, number: '317116', date: '1983-08-26', price: '282', customer_id: 21, created_at: '1971-02-28T11:55:57.000000Z', updated_at: '1977-08-29T13:34:12.000000Z' }, { id: 110, number: '51351', date: '1983-06-12', price: '394', customer_id: 21, created_at: '1997-06-01T20:43:01.000000Z', updated_at: '1982-02-19T12:09:18.000000Z' }, { id: 123, number: '99', date: '1974-12-11', price: '94', customer_id: 21, created_at: '2003-11-24T03:21:25.000000Z', updated_at: '1977-11-26T12:50:24.000000Z' }, { id: 161, number: '4570492', date: '2006-01-26', price: '492', customer_id: 21, created_at: '1971-04-08T22:57:26.000000Z', updated_at: '1971-07-31T13:08:15.000000Z' }, { id: 187, number: '7841514', date: '1990-08-30', price: '244', customer_id: 21, created_at: '2022-04-10T23:01:25.000000Z', updated_at: '2019-06-16T07:02:57.000000Z' }, { id: 228, number: '395932', date: '1971-02-17', price: '381', customer_id: 21, created_at: '2019-05-07T08:33:10.000000Z', updated_at: '1981-11-28T04:40:55.000000Z' }, { id: 278, number: '40165', date: '2001-10-07', price: '290', customer_id: 21, created_at: '2020-04-29T15:16:02.000000Z', updated_at: '1997-11-13T07:19:51.000000Z' }, { id: 299, number: '80547', 
[...]
